.listpages,
.listcategories,
.featureditem,
.relatedpages,
.related-products {
  font-size: 0;
}
.listpages li,
.listcategories li,
.featureditem li,
.relatedpages li,
.related-products li {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}
#main-menu .main_menu li {
  vertical-align: top;
}
#main-menu .sub-menu-btn {
  position: relative;
  float: right;
  width: 29px;
}
#main-menu .sub-menu-btn + a {
  overflow: hidden;
}
@media only screen and (min-width: 1025px) {
  .hording .main_menu {
    position: relative;
    z-index: 11;
    margin-top: 60px;
  }
  .main_menu {
    position: relative;
    z-index: 11;
    margin-top: 35px;
    text-align: center;
  }
  .main_menu > li {
    display: inline-block;
    position: relative;
  }
  .main_menu > li:hover ul {
    display: block;
  }
  .main_menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }
  .main_menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 0;
    display: none;
    width: 300px;
    background: #eee;
    color: #888888;
  }
  .main_menu ul li {
    float: none;
    text-align: left;
  }
  .main_menu ul li:hover,
  .main_menu ul li a.current {
    background: #eeeeee;
  }
}
.static_menu {
  overflow: hidden;
}
.static_menu li {
  float: left;
  padding: 0 8px;
}
.static_menu li + li {
  border-left: 1px solid #888888;
}
.featureapage,
.featureditem li,
.relatedpages li {
  margin-bottom: 30px;
  margin-left: 3%;
  margin-right: 0;
  width: 31.33333333%;
}
.featureapage:nth-of-type(3n + 1),
.featureditem li:nth-of-type(3n + 1),
.relatedpages li:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 1024px) and (min-width: 481px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 48.5%;
  }
  .featureapage:nth-of-type(n),
  .featureditem li:nth-of-type(n),
  .relatedpages li:nth-of-type(n) {
    margin-left: 3%;
  }
  .featureapage:nth-of-type(2n + 1),
  .featureditem li:nth-of-type(2n + 1),
  .relatedpages li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 100%;
  }
  .featureapage:nth-of-type(1n + 1),
  .featureditem li:nth-of-type(1n + 1),
  .relatedpages li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.featureapage .page-teaser-image,
.featureditem li .page-teaser-image,
.relatedpages li .page-teaser-image {
  overflow: hidden;
  margin-bottom: 0.5em;
}
.featureditem {
  font-size: 0;
}
.featureditem > * {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
ul.services {
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
ul.services > * {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
ul.services li {
  margin-left: 2.3%;
  margin-right: 0;
  width: 31.8%;
  overflow: hidden;
  background: #e3e3e3;
  border-radius: 6px;
  counter-increment: my-awesome-counter 1;
  padding-bottom: 40px;
}
ul.services li:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 1024px) and (min-width: 481px) {
  ul.services li {
    width: 48.85%;
  }
  ul.services li:nth-of-type(n) {
    margin-left: 2.3%;
  }
  ul.services li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  ul.services li {
    width: 100%;
  }
  ul.services li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
ul.services li .page-title {
  color: #FFFFFF;
  background: #003c5e;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0;
}
ul.services li .page-teaser-image {
  text-align: center;
}
ul.services li .page-teaser-image img {
  width: 70%;
}
ul.services li .learn-more {
  margin-top: 20px;
  float: right;
  margin-right: 20px;
  color: #003c5e;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  position: absolute;
  right: 10px;
  bottom: 1px;
}
ul.services li .page-descr {
  font-size: 17px;
  margin-top: 10px;
}
.footer .featureditem {
  font-size: 0;
}
.footer .featureditem > * {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.footer .featureditem li {
  margin-bottom: 10px;
  vertical-align: top;
}
.footer .featureditem li a {
  color: #003c5e;
  font-size: 1em;
  margin-top: 2px;
}
.page-locations {
  margin: 50px 0;
}
.page-locations .featureditem.locations li a {
  font-size: 1.3em;
  font-weight: normal;
}
.page-locations .featureditem.locations li::before {
  font-size: 1.9em;
}
.featureapage {
  float: left;
}
.listpages li,
.listcategories li {
  margin-bottom: 30px;
}
.listpages .page-teaser-image,
.listcategories .page-teaser-image {
  float: left;
  margin-right: 3%;
  width: 150px;
  overflow: hidden;
}
aside .listpages li,
aside .listcategories li,
aside .featureditem li,
aside .featureapage,
aside .relatedpages li {
  width: 100%;
  margin: 0 0 2em;
}
aside .listpages li .page-teaser-image,
aside .listcategories li .page-teaser-image,
aside .featureditem li .page-teaser-image,
aside .featureapage .page-teaser-image,
aside .relatedpages li .page-teaser-image {
  width: 100%;
  float: none;
  margin: 0 0 0.5em;
}
aside .listpages li span,
aside .listcategories li span,
aside .featureditem li span,
aside .featureapage span,
aside .relatedpages li span,
aside .listpages li p,
aside .listcategories li p,
aside .featureditem li p,
aside .featureapage p,
aside .relatedpages li p {
  font-size: 0.85em;
  line-height: 1.25;
}
.news-item .news-item-image {
  margin-bottom: 1.4rem;
  height: 200px;
  overflow: hidden;
  display: block;
}
.news-item .news-item-image img {
  width: 100%;
}
.news-item .news-item-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.2;
  padding: 0 1.857rem;
}
.news-item .newslog-admin-actions {
  text-align: right;
}
.news-item .news-item-date {
  font-size: 0.7rem;
  color: #262626;
}
.news-item .news-item-date::before {
  top: -1px;
  font-size: 16px;
  color: #003c5e;
  margin-right: 5px;
}
.news-page .news-item .news-item-date {
  font-size: 0.7em;
}
.news-item .news-item-description {
  padding: 0 1.857rem;
  color: #000;
  font-size: 0.9375rem;
  margin-bottom: 1.857rem;
}
.news-item .news-item-tags a {
  color: #888888;
}
.news-item .news-item-tags a:hover {
  color: #3c3c3c;
}
.news-item .news-item-tags a + a {
  margin-left: 0.5em;
}
.news-item .news-item-tags a::before {
  color: #888888;
  margin-right: 0.5em;
}
.news-item .btn-container {
  padding-left: 1.857rem;
  padding-right: 1.857rem;
  position: absolute;
  bottom: 1.857rem;
  left: 0;
  right: 0;
  text-align: center;
}
.news-list {
  font-size: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin-bottom: -1.3rem;
}
.news-list > * {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.news-list .news-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 1.3%;
  margin-left: 2%;
  margin-right: 2%;
  width: 21%;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  background: #f8f8f8;
  padding: 0rem 0 5.5rem;
  transition: all 0.3s;
}
@media only screen and (max-width: 1024px) and (min-width: 481px) {
  .news-list .news-item {
    width: 46%;
  }
}
@media only screen and (max-width: 480px) {
  .news-list .news-item {
    width: 96%;
  }
}
.news-list .news-item:hover .btn {
  background: #0C4C8A;
}
@media only screen and (max-width: 1200px) {
  .news-list .news-item {
    margin-left: 2%;
    margin-right: 2%;
    width: 29.33333333%;
  }
}
@media only screen and (max-width: 1200px) and only screen and (max-width: 1024px) and (min-width: 481px) {
  .news-list .news-item {
    width: 46%;
  }
}
@media only screen and (max-width: 1200px) and only screen and (max-width: 480px) {
  .news-list .news-item {
    width: 96%;
  }
}
@media only screen and (max-width: 800px) {
  .news-list .news-item {
    margin-left: 0.65%;
    margin-right: 0.65%;
    width: 48.7%;
  }
}
@media only screen and (max-width: 800px) and only screen and (max-width: 1024px) and (min-width: 481px) {
  .news-list .news-item {
    width: 48.7%;
  }
}
@media only screen and (max-width: 800px) and only screen and (max-width: 480px) {
  .news-list .news-item {
    width: 98.7%;
  }
}
@media only screen and (max-width: 480px) {
  .news-list .news-item {
    padding-top: 1.857rem;
    margin-left: 0.65%;
    margin-right: 0.65%;
    width: 98.7%;
  }
}
@media only screen and (max-width: 480px) and only screen and (max-width: 1024px) and (min-width: 481px) {
  .news-list .news-item {
    width: 48.7%;
  }
}
@media only screen and (max-width: 480px) and only screen and (max-width: 480px) {
  .news-list .news-item {
    width: 98.7%;
  }
}
.news-list .news-item-top {
  position: relative;
}
.news-list .news-item-top::before {
  position: absolute;
  top: 0;
  bottom: 1rem;
  left: 50%;
  content: "";
  background: #F6D258;
  width: 100%;
}
.news-list .news-item-date {
  color: #7c7c7c;
  padding-left: 1.857rem;
  padding-right: 1rem;
}
.news-list .news-item-title {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.2;
  padding-left: 1.857rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  display: block;
}
.news-list .news-item-title span {
  display: block;
  border-bottom: 3px solid #FFF;
  padding-bottom: 0.625rem;
}
.news-list .news-item-description {
  padding: 0 1.857rem;
  color: #000;
  font-size: 0.9375rem;
  margin-bottom: 1.857rem;
}
@media only screen and (max-width: 1599px) {
  .news-list .news-item-description {
    font-size: 1rem;
  }
}
.news-list .news-item-description p:last-child {
  margin-bottom: 0;
}
.news-list .btn {
  background: #000;
  color: #fff;
  width: 70%;
  font-size: 20px;
  padding: 0;
}
.news-list .news-button-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 1.857rem;
  padding: 0 1.857rem;
}
@media only screen and (max-width: 1599px) {
  .news-list .news-button-container {
    text-align: left;
  }
}
@media only screen and (max-width: 480px) {
  .news-list .news-button-container .btn {
    display: block;
  }
}
.side-news-list .news-item {
  width: 100%;
  box-shadow: none;
  padding: 0;
  margin-bottom: 30px;
}
.side-news-list .news-item .news-item-title {
  font-size: 1rem;
  padding: 0;
  display: block;
}
.news-page .side-news-list .news-item .news-item-title {
  font-size: 1em;
}
.tags-container {
  font-size: 0;
}
.tags-container a {
  width: 100%;
  padding: 11px;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: capitalize;
  color: #171717;
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #fff;
}
.news-page .tags-container {
  font-size: 20px;
}
.news-page .tags-container a {
  font-size: 0.8em;
}
.news-item-tags {
  color: #fff;
  padding: 15px 10px 15px 0;
}
.news-item-tags .newslog-tag-filter {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  background: #003c5e;
  padding: 3px 7px;
  border-radius: 3px;
  color: #fff !important;
  margin-left: 0px;
  margin-bottom: 3px;
  display: inline-block;
}
.news-item-tags .newslog-tag-filter:hover {
  color: #fff !important;
}
.news-item-tags .newslog-tag-filter:first-child {
  display: none;
}
@media (min-width: 1025px) {
  body .mobile-bar,
  body .mobile-menu {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  body,
  body.news-page {
    padding-top: 56px;
  }
  body[data-menu-open],
  body.news-page[data-menu-open],
  body[data-overlay],
  body.news-page[data-overlay],
  body[data-dropdown-open] {
    overflow: hidden;
  }
  body[data-menu-open]::after,
  body.news-page[data-menu-open]::after,
  body[data-overlay]::after,
  body.news-page[data-overlay]::after,
  body[data-dropdown-open]::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 91;
  }
  [data-menu-open]::after,
  [data-overlay]::after {
    background: rgba(0, 0, 0, 0.5);
  }
}
.mobile-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 90;
  font-family: "Roboto", Tahoma, Arial;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mobile-bar.top {
  top: 52px;
  line-height: 56px;
  color: #FFF;
  background: #003c5e;
}
.mobile-bar.top .btn.icon {
  width: 56px;
}
@media only print {
  .mobile-bar {
    display: none;
  }
}
.mobile-bar .title {
  font-size: 20px;
  padding: 0 calc(72px -  56px );
  margin-right: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile-bar .btn {
  line-height: inherit;
  width: 56px;
  color: inherit;
  border: none;
  -webkit-box-flex: 0 0 56px;
  -webkit-flex: 0 0 56px 0 auto;
  -ms-flex: 0 0 56px 0 auto;
  flex: 0 0 56px 0 auto;
}
.mobile-bar .btn::before {
  margin: initial;
  font-size: 18px;
}
.mobile-bar .icon-phone {
  padding: 0 calc(72px -  56px );
  text-decoration: none;
  color: #fff;
}
.mobile-bar .icon-phone::before {
  margin-right: 0.5em;
}
.tabs {
  display: none;
}
.menu-btn:hover,
.menu-btn.active {
  background: rgba(0, 0, 0, 0.1);
}
.sub-menu-btn {
  width: 55px;
  text-align: center;
  color: #FFF;
  font-size: 1.25em;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.sub-menu-btn::before {
  content: "\e0ac";
  font-family: flexkit-icons;
  color: #bbbbbb;
}
.sub-menu-btn:hover::before,
.sub-menu-btn.active::before {
  content: "\e0aa";
}
@media only screen and (max-width: 1280px) {
  .mobile-menu {
    z-index: 92;
    transition: all 0.3s;
  }
  .mobile-menu.top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .mobile-menu.bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .mobile-menu.left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .mobile-menu.right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-menu-open] .mobile-menu {
    box-shadow: 0 0 30px #555555;
  }
  [data-menu-open="left"] .mobile-menu.left,
  [data-menu-open="right"] .mobile-menu.right {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  [data-menu-open="top"] .mobile-menu.top,
  [data-menu-open="bottom"] .mobile-menu.bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .menu-btn.active {
    background: rgba(0, 0, 0, 0.05);
  }
  .menu-btn::before {
    width: 16px;
  }
  .menu-btn.left {
    padding-left: 0;
  }
  .menu-btn.left.active::before {
    margin-left: -11.2px;
    margin-right: 16.8px;
  }
  .menu-btn.right {
    padding-right: 0;
  }
  .menu-btn.right.active::before {
    margin-right: -11.2px;
    margin-left: 16.8px;
  }
}
.m-menu {
  width: 260px;
  position: fixed;
  z-index: 92;
  overflow: auto;
  background: #ffffff;
  display: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.m-menu:not(.dropdown) {
  top: 0;
  bottom: 0;
}
.m-menu:not(.dropdown).left {
  left: 0;
}
.m-menu:not(.dropdown).right {
  right: 0;
}
.m-menu.dropdown {
  width: 250px;
  overflow: auto;
  max-height: 70%;
}
.m-menu.dropdown.top {
  top: 10px;
  bottom: auto;
}
.m-menu.dropdown.bottom {
  bottom: 10px;
  top: auto;
}
.m-menu.dropdown.right {
  right: 10px;
  left: auto;
}
.m-menu.dropdown.left {
  left: 10px;
  right: auto;
}
.m-menu.open {
  display: block;
}
.m-menu .menu-top-header {
  height: 56px;
  border-bottom: 1px solid #f2f2f2;
}
.m-menu ul,
.dropdown-menu ul,
.mobile-menu.dropdown ul {
  position: relative;
}
.m-menu ul ul,
.dropdown-menu ul ul,
.mobile-menu.dropdown ul ul {
  display: none;
  background: rgba(0, 0, 0, 0.03);
}
.m-menu ul ul a,
.dropdown-menu ul ul a,
.mobile-menu.dropdown ul ul a {
  padding-left: 48px;
}
.m-menu ul.open,
.dropdown-menu ul.open,
.mobile-menu.dropdown ul.open {
  display: block !important;
}
.m-menu li,
.dropdown-menu li,
.mobile-menu.dropdown li {
  float: none;
  border-bottom: 1px solid #f7f7f7;
  line-height: 48px;
  font-weight: bold;
  position: relative;
}
.m-menu li a,
.dropdown-menu li a,
.mobile-menu.dropdown li a {
  padding: 0 16px 0 28px;
  display: block;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-menu li a:hover,
.m-menu li a.current,
.dropdown-menu li a:hover,
.dropdown-menu li a.current,
.mobile-menu.dropdown li a:hover,
.mobile-menu.dropdown li a.current {
  background: #f2f2f2;
  color: #003c5e;
}
.m-menu li:hover ul,
.dropdown-menu li:hover ul,
.mobile-menu.dropdown li:hover ul {
  display: none;
}
.m-menu li li,
.dropdown-menu li li,
.mobile-menu.dropdown li li {
  border: none;
}
.m-menu li li + li,
.dropdown-menu li li + li,
.mobile-menu.dropdown li li + li {
  border-top: 1px solid #f2f2f2;
}
@media only screen and (max-width: 1024px) {
  .dropdown-menu-mobile {
    display: none;
  }
}
.dropdown-menu,
.mobile-menu.dropdown,
[data-dropdown-open] .dropdown-menu-mobile {
  background: #fff !important;
  color: #000 !important;
  position: absolute;
  z-index: 92 !important;
  width: 250px;
  display: none;
  margin: 0 !important;
  overflow: auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.dropdown-menu.open,
.mobile-menu.dropdown.open {
  display: block;
}
.dropdown-menu.top-right,
.mobile-menu.dropdown.top-right,
.dropdown-menu.bottom-right,
.mobile-menu.dropdown.bottom-right {
  right: 0;
  left: auto;
}
.dropdown-menu.top-left,
.mobile-menu.dropdown.top-left,
.dropdown-menu.bottom-left,
.mobile-menu.dropdown.bottom-left {
  left: 0;
  right: auto;
}
.dropdown-menu.top,
.mobile-menu.dropdown.top,
.dropdown-menu.top-left,
.mobile-menu.dropdown.top-left,
.dropdown-menu.top-right,
.mobile-menu.dropdown.top-right {
  top: auto;
  bottom: 100%;
}
.dropdown-menu.top.inner,
.mobile-menu.dropdown.top.inner,
.dropdown-menu.top-left.inner,
.mobile-menu.dropdown.top-left.inner,
.dropdown-menu.top-right.inner,
.mobile-menu.dropdown.top-right.inner {
  top: 0;
  bottom: auto;
}
.dropdown-menu.bottom,
.mobile-menu.dropdown.bottom,
.dropdown-menu.bottom-left,
.mobile-menu.dropdown.bottom-left,
.dropdown-menu.bottom-right,
.mobile-menu.dropdown.bottom-right {
  top: 100%;
  bottom: auto;
}
.dropdown-menu.bottom.inner,
.mobile-menu.dropdown.bottom.inner,
.dropdown-menu.bottom-left.inner,
.mobile-menu.dropdown.bottom-left.inner,
.dropdown-menu.bottom-right.inner,
.mobile-menu.dropdown.bottom-right.inner {
  top: auto;
  bottom: 0;
}
.dropdown-menu.left-top,
.mobile-menu.dropdown.left-top,
.dropdown-menu.right-top,
.mobile-menu.dropdown.right-top {
  top: 0;
  bottom: auto;
}
.dropdown-menu.left-bottom,
.mobile-menu.dropdown.left-bottom,
.dropdown-menu.right-bottom,
.mobile-menu.dropdown.right-bottom {
  top: auto;
  bottom: 0;
}
.dropdown-menu.left,
.mobile-menu.dropdown.left,
.dropdown-menu.left-top,
.mobile-menu.dropdown.left-top,
.dropdown-menu.left-bottom,
.mobile-menu.dropdown.left-bottom {
  left: auto;
  right: 100%;
}
.dropdown-menu.left.inner,
.mobile-menu.dropdown.left.inner,
.dropdown-menu.left-top.inner,
.mobile-menu.dropdown.left-top.inner,
.dropdown-menu.left-bottom.inner,
.mobile-menu.dropdown.left-bottom.inner {
  left: 0;
  right: auto;
}
.dropdown-menu.right,
.mobile-menu.dropdown.right,
.dropdown-menu.right-top,
.mobile-menu.dropdown.right-top,
.dropdown-menu.right-bottom,
.mobile-menu.dropdown.right-bottom {
  left: 100%;
  right: auto;
}
.dropdown-menu.right.inner,
.mobile-menu.dropdown.right.inner,
.dropdown-menu.right-top.inner,
.mobile-menu.dropdown.right-top.inner,
.dropdown-menu.right-bottom.inner,
.mobile-menu.dropdown.right-bottom.inner {
  right: 0;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile {
  position: fixed;
  max-width: 90%;
  max-height: 70%;
}
[data-dropdown-open] .dropdown-menu-mobile.open {
  display: block;
}
[data-dropdown-open] .dropdown-menu-mobile.centered {
  top: 50%;
  left: 0;
  right: 0;
  margin: auto !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-dropdown-open] .dropdown-menu-mobile.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}
[data-dropdown-open] .dropdown-menu-mobile.top {
  top: 10px;
  bottom: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.bottom {
  bottom: 10px;
  top: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.right {
  right: 10px;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.left {
  left: 10px;
  right: auto;
}
