html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
body.news-page {
  font-size: 20px;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body.news-page .container {
  width: 1598px;
  max-width: 95% !important;
}
body.news-page .top-line p {
  margin: 12px 0;
}
body.sales #cpanelul > li:not(.plugin-crm) {
  display: none;
}
body.sales .tpopup,
body.sales .admin-actions {
  display: none;
}
body #housecall-bar {
  z-index: 12;
}
.offline header {
  padding-top: 5em;
}
.offline header .top-line {
  top: 0;
}
#editor-news-body p {
  margin-bottom: 15px;
}
#u_body {
  min-height: auto !important;
}
header {
  background: transparent;
  color: #000;
  padding-top: 7em;
  padding-bottom: 20px;
}
header .logo {
  text-decoration: none;
  margin-top: 0;
}
header .logo a {
  display: block;
}
header .logo img {
  display: inline-block;
}
header .social-icon {
  margin-top: 40px;
}
header.hording .social-icon {
  margin-top: 10px;
}
header.hording .social-icon a:last-child {
  margin-right: 2%;
}
header.hording .logo {
  margin-bottom: 0;
}
header.hording .logo-hording > a {
  font-size: 14px;
  text-decoration: none;
}
header.hording .logo-hording img {
  width: 75%;
}
header.hording .logo-hording {
  float: right;
}
header .check-out {
  display: block;
  text-decoration: none;
  margin-top: 15px;
  margin-right: 10%;
}
header .check-out::before {
  content: "\e08b \e08b \e08b \e08b \e08b";
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 5px;
  font-size: 1.25em;
  color: #fea500;
}
header .check-out span {
  display: inline-block;
  margin-top: 5px;
  float: right;
}
header .tel-line {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 0.5em 0;
  font-size: 0.75em;
  background-color: #fff;
  z-index: 11;
}
header .tel-line .call-now {
  background: red;
  color: white;
  font-weight: bold;
}
header .tel-line-style {
  top: 50px;
}
.h1-blue-block {
  margin-top: 30px;
}
.blue-bg {
  background: #003c5e;
  color: #fff;
}
.blue-bg::before {
  background-color: #003c5e;
}
.blue-bg h2 {
  color: #fff;
}
.blue-bg h1 {
  color: #fff;
  z-index: 1;
  position: relative;
  text-align: center;
  margin: 50px !important;
  font-size: 2em;
}
.light-blue-bg {
  background: #2c6d93;
  color: #fff;
}
.light-blue-bg::before {
  background: #2c6d93;
}
.light-blue-bg h3 {
  color: #fff;
  margin-bottom: 0.6em;
  margin-top: 1.5em !important;
  font-size: 1.7em;
}
.light-blue-bg2 {
  padding: 2em 1em;
  background: #2c6d93;
  color: #fff;
}
.light-blue-bg2 h3 {
  color: #fff;
  margin-top: 1.5em;
  margin-bottom: 0.6em;
  font-size: 1.7em;
}
.flex-container {
  margin-bottom: 2em;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.flex-container > div {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 49%;
  -ms-flex: 0 1 49%;
  flex: 0 1 49%;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}
.top-line {
  position: absolute;
  top: 62px;
  left: 0;
  width: 100%;
  background: #003c5e;
  color: #fff;
}
.top-line p {
  text-transform: uppercase;
  margin: 12px 0;
  font-size: 12px;
}
.top-line .tel {
  color: #fff;
  text-decoration: none;
  margin: 4px 0;
  font-size: 1.2em;
}
.top-line::before {
  background: #003c5e;
}
.light-blue::after,
.gray-bg::after,
.blue-bg::after,
.top-line::after,
.footer-blue::after,
.light-blue-bg::after {
  content: "";
  display: table;
  clear: both;
}
.light-blue::before,
.gray-bg::before,
.blue-bg::before,
.top-line::before,
.footer-blue::before,
.light-blue-bg::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.main-border-bottom {
  border-bottom: 3px solid #e3e3e3;
  padding-bottom: 13px;
}
.main-border-top {
  border-top: 3px solid #e3e3e3;
  padding-top: 13px;
}
.banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  color: #fff;
  background-size: cover;
}
.banner > img {
  display: none;
}
.banner::before {
  background: rgba(0, 60, 94, 0.5);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.banner h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 2em;
  margin-top: 100px !important;
  line-height: 1.3em;
}
.banner .container {
  z-index: 2;
}
.banner .tpopup {
  z-index: 10;
}
.video-top {
  padding-top: 8px;
}
.video-top .description {
  display: none;
}
.video-top h4.title {
  display: none;
}
.top-fr {
  border: 20px solid #b7b9be;
  position: relative;
  padding: 3%;
  margin-top: 7%;
  margin-bottom: 7%;
}
.top-fr .grid_4 {
  margin: -4em 0 -4em;
}
.top-fr .photo-about > img {
  border-radius: 50%;
}
.top-fr .bigger-h2 {
  font-size: 3em;
  color: #003c5e;
}
.top-fr h3 {
  margin-top: 0;
}
.contact-form {
  background: #003c5e;
  color: #fff;
  border-radius: 5px;
  padding: 0 35px 25px 35px;
  margin-bottom: 30px;
}
.contact-form .g-recaptcha {
  float: left;
}
.contact-form form input[type="submit"] {
  background: #fff;
  color: #000;
  border-color: #000;
}
.service-testimonials {
  display: none;
  border: 1px solid #003c5e;
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
}
.service-testimonials span.name {
  font-weight: bold;
  font-size: 15px;
}
.service-testimonials .review-header {
  margin-bottom: 0;
  margin-top: 0;
}
.service-testimonials .rating-block-left .starrating {
  float: none;
  margin-bottom: 10px;
  display: none;
}
.service-testimonials h3 {
  padding-bottom: 1.5em;
}
.service-testimonials .pagerating-list .pagerating-review {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.bottom-form .starrating {
  float: none;
  margin-bottom: 10px;
}
.bottom-form .starrating .r-head-text,
.bottom-form .starrating .total-review {
  display: none;
}
.bottom-form .review-header {
  display: none;
}
.rating {
  width: auto !important;
}
.cat-line {
  background: #eee;
}
.cat-line .cat {
  background: #003c5e;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  padding: 2em 0;
}
.cat-line .all-news-tag {
  font-size: 0;
  padding-top: 20px;
}
.cat-line .all-news-tag > * {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.cat-line .all-news-tag a {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 32.33333333%;
  text-decoration: none;
  color: #003c5e;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 17px;
}
@media only screen and (max-width: 1024px) and (min-width: 481px) {
  .cat-line .all-news-tag a {
    width: 49%;
  }
}
@media only screen and (max-width: 480px) {
  .cat-line .all-news-tag a {
    width: 99%;
  }
}
.cat-line::after {
  content: "";
  display: table;
  clear: both;
}
.cat-line::before {
  background: #eee;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
.inner-banner {
  padding: 50px 0;
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
  background-size: cover;
}
.inner-banner > img {
  display: none;
}
.inner-banner::before {
  background: rgba(0, 60, 94, 0.5);
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}
.inner-banner h1 {
  color: #fff;
}
.inner-banner .container {
  z-index: 2;
  text-align: center;
}
.inner-banner p {
  color: #fff;
}
.inner-banner .btn {
  background: transparent;
  border-color: #fff;
}
.inner-banner .tpopup {
  z-index: 3;
}
.map {
  margin-bottom: 50px;
  overflow: hidden;
}
.news-item-image > img {
  width: 100%;
}
aside .aside-box {
  margin-bottom: 30px;
  padding: 20px;
  background: #eee;
  overflow: hidden;
}
.map-full {
  width: 100%;
  overflow: hidden;
}
.btn.white {
  color: #fff;
  background: transparent;
  border-color: #fff;
  margin-top: 20px;
}
.default-btn {
  font-size: 36px;
  margin-top: 30px;
}
.first {
  font-size: 7em;
  font-size: 7vw;
}
aside .aside-box {
  margin-bottom: 30px;
}
.footer {
  border-top: 3px solid #cecece;
  margin-top: 30px;
}
.footer h3 {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #003c5e;
}
footer {
  padding: 35px 0 0;
  font-size: 0.85em;
  border-top: 1px solid #cecece;
}
footer .footer-blue {
  background: #003c5e;
  margin-top: 35px;
  color: #fff;
}
footer .footer-blue::before {
  background: #003c5e;
  color: #fff;
}
footer .footer-blue p {
  position: relative;
  font-size: 0.8em;
  margin-top: 17px;
}
footer .footer-blue a {
  color: #fff;
}
footer .footer-blue .wcag-link {
  position: absolute;
  right: 0;
  top: 1em;
}
footer .footer-img {
  text-align: right;
}
footer .footer-img a.btn {
  text-transform: uppercase;
  background: #e7121a;
  border-color: #e7121a;
  margin-bottom: 20px;
  font-size: 1.2em;
}
footer .footer-img > img {
  display: inline-block;
  vertical-align: bottom;
}
footer .footer-img .grid_12 > img {
  display: inline;
  text-align: center;
  width: 25%;
}
footer .icon-mail {
  display: block;
}
footer .icon-footer {
  font-size: 1.1em;
  text-decoration: none;
  padding-left: 35px;
  display: block;
  margin-bottom: 12px;
}
footer .icon-footer::before {
  color: #003c5e;
  font-size: 1.3em;
  margin-right: 10px;
  left: 0;
  top: 2px;
  position: absolute;
}
footer img.logo {
  width: 70%;
}
.g-recaptcha {
  float: left;
}
a.btn.tr-bg {
  background: transparent;
  color: #003c5e;
  border-color: #003c5e;
}
a.btn.tr-bg:hover {
  background: #003c5e;
  color: #fff;
}
.wrap-resourses {
  font-size: 0;
}
.wrap-resourses > * {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.wrap-resourses article {
  margin-left: 1%;
  margin-right: 1%;
  width: 23%;
  vertical-align: top;
  margin-bottom: 35px;
}
@media only screen and (max-width: 1024px) and (min-width: 481px) {
  .wrap-resourses article {
    width: 48%;
  }
}
@media only screen and (max-width: 480px) {
  .wrap-resourses article {
    width: 98%;
  }
}
.starrating {
  float: right;
}
.starrating .stars-container {
  width: auto !important;
}
.fl-left .starrating {
  float: left;
}
.starrating .no-reviews-text {
  display: none;
}
.gm-style .undefined > div,
.gm-style .bubble-info > div {
  width: auto !important;
  height: auto !important;
}
.pageInfoGmaps {
  width: 90%;
  margin: 0 auto;
}
.pageInfoGmaps h4 {
  padding: 0;
  margin: 0 0 6px;
  text-align: left;
  font-size: 19px;
}
.pageInfoGmaps .imgGmaps {
  display: none !important;
}
.pageInfoGmaps span {
  font-size: 13px;
}
.phone-section {
  background: #fe121b;
  padding: 30px 0;
}
.phone-section a {
  color: #FFF;
  text-decoration: none;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 4px;
}
.phone-section a::before {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.block-reviews {
  background: #f6f5f5;
  padding: 3px;
}
.block-reviews .review-header {
  display: none;
}
.block-reviews .cycle-pager-review {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  top: auto;
  z-index: 20;
  text-align: center;
}
.block-reviews .cycle-pager-review > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  color: #bbbbbb;
  background: #ccc;
  border-radius: 14px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}
.block-reviews .cycle-pager-review .cycle-pager-active {
  background: #003c5e;
}
.block-reviews .pagerating-list {
  font-size: 0;
}
.block-reviews .pagerating-list > * {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.block-reviews .pagerating-list .pagerating-review .rating {
  display: none;
}
.block-reviews .pagerating-list > .pagerating-review {
  margin-left: 3%;
  margin-right: 0;
  width: 48.5%;
}
.block-reviews .pagerating-list > .pagerating-review:nth-of-type(2n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 1024px) and (min-width: 481px) {
  .block-reviews .pagerating-list > .pagerating-review {
    width: 48.5%;
  }
  .block-reviews .pagerating-list > .pagerating-review:nth-of-type(n) {
    margin-left: 3%;
  }
  .block-reviews .pagerating-list > .pagerating-review:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  .block-reviews .pagerating-list > .pagerating-review {
    width: 100%;
  }
  .block-reviews .pagerating-list > .pagerating-review:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.block-reviews.block-reviews-center .description {
  max-height: 375px;
  padding-right: 2em;
}
.bottom-form .block-reviews {
  padding: 0px;
}
.bottom-form .block-reviews .pagerating-list > .pagerating-review {
  width: 100%;
  margin-left: 0;
  padding: 20px;
}
.bottom-form .block-reviews .pagerating-list > .pagerating-review .pagerating-info .block {
  width: 100%;
}
.bottom-form .block-reviews .pagerating-list .pagerating-review {
  padding: 10px 36px 10px 20px;
}
.bottom-form .block-reviews .review-done {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}
.bottom-form .block-reviews .labeled.block.fl-right {
  float: none !important;
}
.bottom-form .block-reviews .description {
  padding-right: 0;
}
.bottom-form .block-reviews .response-block-description {
  font-style: italic;
  font-size: 18px;
}
.bottom-form .block-reviews .response-block-description .response-block-info {
  font-weight: bold;
}
.bottom-form .block-reviews .response-block-description .response-comment {
  white-space: normal;
}
.pagerating-list .pagerating-review {
  vertical-align: top;
  overflow: hidden;
}
.pagerating-list .description {
  font-style: italic;
  font-size: 18px;
}
.pagerating-list .name,
.pagerating-list .author {
  font-weight: bold;
  white-space: normal;
}
.pagerating-list .published {
  display: block;
  font-size: 0.7em;
}
.pagerating-list .admin-actions a[data-type="reply-comment"] {
  display: none;
}
.pagerating-list p[class*="helpful-"] {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 2.5em;
}
.pagerating-list p[class*="helpful-"] span[class*="helpful-"] {
  display: inline-block;
}
.pagerating-list .pagerating-info {
  margin-bottom: 10px;
}
.pagerating-list-left.cycle-slideshow .cycle-pager span {
  background: #888;
}
.pagerating-list-left.cycle-slideshow .cycle-pager span.cycle-pager-active {
  background: #fff;
}
.mess-moderated,
.review-done {
  font-size: 14px;
}
.mess-moderated {
  margin-top: 10px;
}
.teaser-img-services {
  text-align: center;
  margin-bottom: 20px;
}
.block-review-form {
  display: none;
  background: #fff;
  padding: 20px;
  margin: 40px 20px 20px;
}
.banner-image {
  padding: 130px 0;
  background-size: cover;
}
.banner-image > img {
  display: none;
}
.banner-image .left-block {
  padding: 20px 30px 60px 40px;
  border: 2px solid #fff;
  background: rgba(0, 60, 94, 0.3);
  color: #fff;
}
.banner-image h1 {
  color: #fff;
}
.banner-image .small-title {
  font-style: italic;
}
.banner-image .read {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.banner-image .learn {
  position: absolute;
  bottom: -24px;
  left: 40px;
}
.banner-image .list-main li {
  background: #fff;
  color: #003c5e;
  padding: 10px 28px;
  margin-bottom: 15px;
  display: table;
}
.banner-image .list-main li::before {
  margin-right: 10px;
}
.block-button {
  text-align: right;
}
.block-reviews-list {
  margin-top: 3em;
  overflow: auto;
  max-height: 30em;
  border-bottom: 1px solid #ededed;
  padding: 0.3em;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
.reviews-header:empty,
.social-reviews:empty {
  display: none;
}
.fb_facebook_review,
.fb_gmb_review {
  padding: 0 0.5em;
  margin-bottom: 5px;
}
.bottom-form .fb_facebook_review,
.bottom-form .fb_gmb_review {
  font-size: 16px;
  width: 100%;
}
.vimeo {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  padding-top: 61%;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  box-shadow: 1px 1px 12px #00000082;
}
.vimeo iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.vimeo img,
.vimeo .play-button {
  cursor: pointer;
}
.vimeo img {
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-filter: blur(0);
}
.vimeo .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.vimeo .play-button::before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
}
.vimeo .play-button,
.vimeo .play-button::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  -webkit-filter: blur(0);
}
.vimeo img,
.vimeo iframe,
.vimeo .play-button,
.vimeo .play-button::before {
  position: absolute;
}
form p {
  margin-bottom: 15px;
}
#go-top {
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#go-top:hover,
#go-top:active,
#go-top.active {
  color: #FFF;
  border-color: #003c5e;
  background-color: #003c5e;
}
.webPage-go-top {
  color: #fff;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.webPage-go-top:hover,
.webPage-go-top:active,
.webPage-go-top.active {
  color: #FFF;
  border-color: #003c5e;
  background-color: #003c5e;
}
form::after {
  content: "";
  display: table;
  clear: both;
}
form p::after {
  content: "";
  display: table;
  clear: both;
}
form .captcha label,
form .captcha input {
  float: left;
  width: 100%;
  font-weight: normal;
}
form .captcha .captcha_field {
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a,
form .captcha .captcha_image a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: 'Open Sans', Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  border-color: #000e23;
  background-color: #003c5e;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border-width: 2px;
  border-style: solid;
  transition: background 0.3s;
  float: left;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.3em;
  margin-right: 0.25em;
}
form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  color: #FFF;
  border-color: #000000;
  background-color: #001b2b;
}
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3) inset;
}
form .captcha .recaptcha_links a::before,
form .captcha .captcha_image a::before {
  font-family: flexkit-icons;
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
form .captcha .captcha_image {
  width: 100% !important;
  height: auto !important;
  float: left;
  text-align: center;
  margin-bottom: 1em;
}
form .captcha .captcha_image br {
  display: none;
}
form .captcha .captcha_image span {
  float: left;
}
form .captcha .recaptcha_links {
  float: left;
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a[href="javascript:Recaptcha.reload();"]::before {
  content: "\e093";
}
form .captcha .recaptcha_links a.recaptcha_only_if_image::before {
  content: "\e0e2";
}
form .captcha .recaptcha_links a.recaptcha_only_if_audio::before {
  content: "\e008";
}
form .captcha .recaptcha_links a.recaptcha_help::before {
  content: "\e0e3";
}
form .captcha #recaptcha_audio_play_again::before {
  content: "\e0e4";
}
form .captcha #recaptcha_audio_download::before {
  content: "\e0e1";
}
@media only screen and (max-width: 480px), only screen and (min-width: 1024px) {
  aside form .captcha .recaptcha_links {
    width: 100%;
  }
  aside form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  aside form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image span {
    width: 49%;
  }
  aside form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  form .captcha .recaptcha_links {
    width: 100%;
  }
  form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  form .captcha .captcha_image span {
    width: 49%;
  }
  form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
.tablet form .captcha .captcha_image span,
.mobile form .captcha .captcha_image span {
  width: 100%;
}
form [type="submit"] {
  float: right;
}
fieldset legend {
  font-size: 1.25em;
}
fieldset.unstyled {
  padding: 0;
  border: 0;
}
fieldset.unstyled legend {
  padding: 0;
  margin-bottom: 0.45em;
  font-weight: bold;
}
label,
.label {
  display: block;
  margin-bottom: 0.25em;
}
label[for],
.label[for] {
  cursor: pointer;
}
label[class*="grid_"],
.label[class*="grid_"] {
  margin-bottom: 0;
}
.label-inline label,
.label-inline .label {
  margin-bottom: 0;
  line-height: 2.3em;
}
label.required::after,
.label.required::after {
  color: #f25f5c;
  content: ' *';
}
.notvalid {
  color: #f25f5c;
}
select,
textarea,
input {
  font-family: 'Open Sans', Arial, sans-serif;
  border: 1px solid #bbbbbb;
  background-color: #fff;
  color: #000000;
  transition: border 0.3s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #003c5e;
}
select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error,
select.info,
textarea.info,
input.info {
  color: #000000;
}
select.success,
textarea.success,
input.success {
  border-color: #4fc752;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  box-shadow: 0 0 3px #4fc752 inset;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #ffc159;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  box-shadow: 0 0 3px #ffc159 inset;
}
select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
  border-color: #f25f5c;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
  box-shadow: 0 0 3px #f25f5c inset;
}
select.info,
textarea.info,
input.info {
  border-color: #28b0ed;
}
select.info:focus,
textarea.info:focus,
input.info:focus {
  box-shadow: 0 0 3px #28b0ed inset;
}
select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #dddddd;
  background: #eeeeee;
  color: #a2a2a2;
  cursor: not-allowed;
  box-shadow: none;
}
input,
select {
  padding: 0 0.5em;
  height: 2.3em;
  line-height: 1.3em;
}
textarea {
  padding: 0.5em;
  min-height: 5em;
}
textarea.resize {
  resize: vertical;
}
.forgot-password,
.retrieveFormBlock > form + a {
  float: left;
  margin-top: -42px;
}
.filed-upgrade {
  height: auto;
  position: absolute;
  z-index: -10;
  transition: none;
  opacity: 0;
}
.filed-upgrade ~ .checkbox_radio {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 16px;
  height: calc(1em + 1px * 2);
  width: calc(1em + 1px * 2);
  line-height: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #bbbbbb;
  color: transparent;
}
.filed-upgrade ~ .checkbox_radio::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.625em;
  height: 0.625em;
}
.filed-upgrade.error ~ .checkbox_radio {
  border-color: #f25f5c;
}
.filed-upgrade:hover ~ .checkbox_radio::before {
  background: rgba(0, 0, 0, 0.1);
}
.filed-upgrade:checked ~ .checkbox_radio {
  border-color: #4fc752;
}
.filed-upgrade:checked ~ .checkbox_radio::before {
  background: #4fc752;
}
.filed-upgrade:disabled ~ .checkbox_radio {
  background: #eeeeee !important;
  border-color: #d5d5d5 !important;
  color: transparent;
}
.filed-upgrade:disabled:checked ~ .checkbox_radio::before {
  background: #a2a2a2 !important;
}
.filed-upgrade[type="radio"] ~ .checkbox_radio,
.filed-upgrade[type="radio"] ~ .checkbox_radio::before {
  border-radius: 10em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: calc(1.25em + 1px * 2);
  line-height: 1.25em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::before {
  font-size: 0.6rem;
  line-height: inherit;
  content: 'OFF';
  background: none;
  color: #f25f5c;
  position: static;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin-left: 50%;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::after {
  content: '';
  background: #f25f5c;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  border: 1px solid #fff;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::before {
  content: 'ON';
  margin-left: 0;
  color: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::after {
  left: 50%;
  background: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::before {
  color: #a2a2a2 !important;
  background: none !important;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::after {
  background: #a2a2a2 !important;
}
.input-label {
  position: relative;
}
.input-label label {
  color: #e6e6e6;
  position: absolute;
  top: 0;
  left: 0.5em;
  z-index: 1;
  line-height: 2.3em;
  transition: all 0.2s;
}
.input-label input {
  border-width: 0 0 1px;
  box-shadow: none !important;
}
.input-label input:focus + label,
.input-label input:valid + label {
  color: #003c5e;
  top: -0.9em;
  font-size: 0.85em;
  line-height: 1em;
}
.input-label input.success:focus + label,
.input-label input.success:valid + label {
  color: #4fc752;
}
.input-label input.warning:focus + label,
.input-label input.warning:valid + label {
  color: #ffc159;
}
.input-label input.error:focus + label,
.input-label input.error:valid + label {
  color: #f25f5c;
}
.input-label input.info:focus + label,
.input-label input.info:valid + label {
  color: #28b0ed;
}
.img_gallery {
  margin: 10px 0;
  font-size: 0;
}
.img_gallery li {
  font-size: 1rem;
  position: relative;
  margin: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
.img_gallery a img {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  padding: 3px;
  background: transparent;
  transition: all 0.3s;
  border: 1px solid #bbbbbb;
}
.img_gallery a img:hover {
  border-color: #003c5e;
}
.img_gallery .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  line-height: 1.5;
  padding: 4px;
  color: #FFF;
  text-align: center;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(0, 60, 94, 0.8);
}
.rotator {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.rotator .slide-description {
  padding: 10px 16px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.005);
}
.rotator img {
  width: 100%;
}
.rotator img ~ .slide-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.cycle-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
.cycle-slideshow .slide > a.generator-links:not(:first-child),
.cycle-slideshow .slide > a.tpopup:not(:first-child) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.cycle-slideshow .cycle-pager,
.cycle-slideshow .cycle-pager-review {
  z-index: 20;
  text-align: center;
  font-size: 0;
  line-height: 0;
  margin-top: 40px;
}
.cycle-slideshow .cycle-pager > *,
.cycle-slideshow .cycle-pager-review > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  color: #FFF;
  background: #FFF;
  border-radius: 14px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}
.cycle-slideshow .cycle-pager > *::before,
.cycle-slideshow .cycle-pager-review > *::before {
  font-size: 10px;
}
.cycle-slideshow .cycle-pager > *:hover,
.cycle-slideshow .cycle-pager-review > *:hover {
  background: #001b2b;
}
.cycle-slideshow .cycle-pager > *.cycle-pager-active,
.cycle-slideshow .cycle-pager-review > *.cycle-pager-active {
  cursor: default;
  color: #FFF;
  background: #888;
}
.cycle-slideshow #pager.cycle-pager {
  margin-bottom: 40px;
}
.cycle-slideshow [class*="cycle-"].action-button {
  background: #003c5e;
  color: #FFF;
  position: absolute;
  top: 50%;
  z-index: 20;
  cursor: pointer;
  margin-top: -19px;
  padding: 10px;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0;
  transition: all 0.3s;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-size: 18px;
}
.cycle-slideshow [class*="cycle-"].action-button:hover {
  background: #001b2b;
  color: #FFF;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-family: flexkit-icons;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
  left: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev::before {
  content: "\e0a9";
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next {
  right: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next::before {
  content: "\e0a7";
}
.cycle-slideshow:hover .action-button.cycle-prev {
  left: 10px;
}
.cycle-slideshow:hover .action-button.cycle-next {
  right: 10px;
}
.cycle-slideshow .pagerating-review {
  width: 100%;
}
.cycle-slide .description {
  max-height: 346px;
  overflow: hidden;
  white-space: normal;
}
.slider a.generator-links {
  color: #fff;
  z-index: 20;
}
.before-after-slider {
  height: 450px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.before-after-slider .slide {
  width: 100%;
  height: 100%;
}
.before-after-slider .slide > img {
  width: auto;
  position: absolute;
  max-width: none;
  left: 50%;
  margin-left: -960px;
}
.before-after-slider .slide-text {
  position: absolute;
  z-index: 10;
  bottom: 70px;
  left: 0;
  padding: 0 30px 60px 40px;
  border: 2px solid #fff;
  background: rgba(0, 60, 94, 0.3);
  color: #fff;
}
.before-after-slider .slide-text .learn {
  position: absolute;
  bottom: -24px;
  left: 40px;
}
.before-after-slider .slide-text .read {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.before-after-slider .slide-text h1 {
  color: #fff;
}
.before-after-slider .slide-text .small-title {
  color: #fff;
  font-size: 18px;
  font-style: italic;
}
@media only screen and (min-width: 1025px) {
  .d-hide,
  .t-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .t-hide,
  .d-visible,
  .m-visible {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .m-hide,
  .d-visible,
  .t-visible {
    display: none !important;
  }
  .block-reviews.block-reviews-center .description {
    padding-right: 0;
    max-height: 403px;
  }
  .block-button {
    text-align: center;
  }
  .block-button .social-icon {
    text-align: center!important;
  }
}
@media only screen and (max-width: 1280px) {
  .top-line {
    top: 52px;
  }
}
@media only screen and (max-width: 1550px) {
  .top-fr .grid_4 {
    margin: -4em 0 -2em;
  }
}
@media only screen and (min-width: 1281px) {
  .main_menu a {
    font-size: 0.7em;
  }
  #housecall-button {
    margin-top: 5px !important;
  }
}
@media only screen and (max-width: 1280px) {
  html {
    font-size: 17px;
  }
  .main_menu a {
    font-size: 0.7em;
  }
  .banner iframe {
    height: 380px !important;
  }
  .banner h2 {
    font-size: 1.5em;
    margin-top: 85px !important;
  }
  .top-fr .grid_4 {
    margin: 0;
  }
  h2,
  .h2 {
    font-size: 2em;
  }
  footer .footer-img > img {
    width: 49%;
  }
  .contact-form {
    font-size: 14px;
  }
  .grid_4 .g-recaptcha {
    margin-left: -31px;
    transform: scale(0.79);
  }
  .grid_5 .g-recaptcha {
    margin-left: 9px;
    transform: scale(1.05);
  }
  .pagerating-review .description,
  .pagerating-review .response-comment {
    font-size: 14px;
  }
  body.offline .mobile-bar.top {
    top: 0;
  }
  body.offline header {
    padding-top: 2em;
  }
}
@media only screen and (max-width: 1024px) {
  footer .footer-img a.btn {
    font-size: 0.9em;
  }
  .banner .grid_6,
  .light-blue-bg .grid_6 {
    margin-bottom: 30px;
  }
  .banner .grid_6 h2,
  .light-blue-bg .grid_6 h2 {
    margin-top: 40px !important;
  }
  form [type="submit"] {
    float: right;
  }
  .default-btn {
    font-size: 20px;
  }
  .main-border-bottom {
    border-bottom: none;
  }
  .banner {
    margin-top: 0;
  }
  header {
    padding-top: 62px;
  }
  .block-reviews.block-reviews-center .description {
    max-height: 395px;
  }
  footer .footer-blue .wcag-link {
    position: relative;
    right: auto;
    top: auto;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .captcha,
  .captcha img {
    width: 100%;
  }
  img[style*="float: left"],
  img[style*="float:left"],
  img[style*="float: right"],
  img[style*="float:right"] {
    float: none !important;
    display: block;
    margin: 0 auto 1em;
  }
  form [type="submit"],
  form [type="button"] {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
  }
  .light-blue-bg iframe,
  .banner iframe {
    height: 200px !important;
  }
  .contact-form .g-recaptcha {
    transform: scale(0.89);
    margin-left: -13px;
  }
  .contact-form .g-recaptcha > div {
    transform: scale(0.95, 1);
  }
  footer .footer-img > img {
    width: 48%;
  }
  footer .footer-img a.btn {
    font-size: 0.7em;
  }
  footer .footer-img {
    text-align: center;
    margin-top: 15px;
  }
  .block-reviews.block-reviews-center .description {
    padding-right: 0;
    max-height: 403px;
  }
  .cycle-slide .description {
    max-height: 403px;
  }
  .block-reviews {
    padding: 20px;
  }
  .block-reviews .block-review-form {
    padding: 20px;
  }
  .block-reviews .block-review-form .g-recaptcha {
    margin-left: -2px;
    transform: scale(1);
  }
  .banner-image .left-block {
    padding: 20px 30px 50px 20px;
  }
  .banner-image .left-block h1 {
    font-size: 1.5em;
  }
  .fb_facebook_review,
  .fb_gmb_review {
    width: 100%;
  }
  header .check-out {
    margin-right: 0;
  }
  header .check-out span {
    float: none;
  }
  .h1-blue-block {
    margin-top: 0px;
  }
  header .check-out span {
    margin-top: 0px;
  }
}
@media only screen and (max-width: 325px) {
  .contact-form .g-recaptcha {
    transform: scale(0.76, 0.9);
    margin-left: -34px;
  }
  .block-reviews .block-review-form .g-recaptcha {
    margin-left: -26px;
    transform: scale(0.8);
  }
  .before-after-slider .slide > img {
    left: -90%;
  }
  .review-form > * {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .g-recaptcha {
    float: none;
  }
  .cycle-slide .description {
    max-height: 460px;
  }
  .block-reviews.block-reviews-center .description {
    padding-right: 0;
    max-height: 460px;
  }
}
.g-recaptcha {
  position: relative;
  margin-bottom: 15px;
}
@media only screen and (max-width: 480px) and (orientation: portrait) {
  .g-recaptcha > div {
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    transform-origin: 4% 50%;
  }
}
@media only print {
  * {
    background: none !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    /* Images, vectors and such */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter     id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
    /* Chrome + Safari 6 */
    -moz-filter: grayscale(100%);
    /* Future proof */
    -ms-filter: grayscale(100%);
    /* Future proof */
    -o-filter: grayscale(100%);
    /* Future proof */
    filter: grayscale(100%);
    /* Future proof or polyfilled */
  }
  .print-hide,
  header,
  footer,
  nav,
  aside {
    display: none !important;
  }
  .print-visible {
    display: block !important;
  }
  .print-visible-inline {
    display: inline !important;
  }
  .print-page-break-inside,
  img,
  table {
    page-break-inside: avoid;
  }
  .print-page-break,
  article + article {
    page-break-before: always;
  }
  a::after {
    color: #888888;
    margin: 0 0 0 0.5em;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
  }
  a.btn::after,
  a.page-title::after {
    margin: 0;
    display: block;
  }
  a.page-teaser-image::after,
  .page-teaser-image a::after,
  .gmaps a::after,
  a._lbox::after {
    display: none;
  }
  a[href*=".html"]::after,
  a[href^="http"]::after,
  a[href^="//"]::after {
    content: "(" attr(href) ")";
  }
}
