<a href="{$page:url}" class="page-title">{$page:h1}</a>
<a href="{$page:url}" class="page-teaser-image grid_4">{$page:preview}</a>
<span class="grid_8 page-descr">{$page:teaser}</span>
<a href="{$page:url}" class="learn-more" title="{$page:navName}">LEARN MORE</a>