<div class="footer" role="complementary">
    <div class="container">
        <div class="grid_6">
            <p class="h3 mt30px">{$header:foot1:static}</p>
            {$content:foot1:static}
        </div>
        <div class="grid_6">{$imageonly:map:750:static}</div>
    </div>
</div>
<footer  itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="container">
        <div class="grid_4 t-grid_2 m-hide">
            <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
                <img src="{$plugin:widcard:bizLogo:url}"  class="logo" alt="Biohazard Cleaning Company & Crime Scene Cleaning Franchise Opportunities" itemprop="logo" width="{$mobile:device:desktop=340:tablet=155:mobile=242}" height="{$mobile:device:desktop=156:tablet=71:mobile=111}" loading="lazy">
            </a>
        </div>
        <div class="grid_4 t-grid_2 m-grid_4">
             <a href="tel:{$plugin:widcard:BizTelephone:href}" class="icon-phone icon-footer" itemprop="telephone" content="{$plugin:widcard:BizTelephone:notag}">{$plugin:widcard:BizTelephone:notag}</a>
            <address class="icon-location2 icon-footer" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
                <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
                <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
                <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
                <meta itemprop="addressCountry" content="EN"/>
            </address>
            {$fastbutton:footer1:icon-mail icon-footer:static}
            {$fastbutton:footer2:icon-footer icon-clipboard2:static}
            {$fastbutton:footer3:icon-footer icon-home2:static}
        </div>
        <div class="grid_4 footer-img t-grid_2 m-grid_4">
            <div class="grid_12 alpha omega"> {$fastbutton:visit:btn:static}</div>
             <ul class="grid_12 logo-list" role="presentation">
                <li>{$imageonly:logo-other1:original:static}</li>
                <li>{$imageonly:logo-other2:original:static}</li>
                <li>{$imageonly:logo-other3:original:static}</li>
                <li>{$imageonly:logo-other4:original:static}</li>
                <li>{$imageonly:logo-other5:original:static}</li>
            </ul>
        </div>
        <div class="grid_12 footer-blue">
            {$content:footer-info:static}
             <a class="wcag-link" href="https://www.seosamba.com/ada-compliance-audit-expert-consulting-services.html" title="Explanation of WCAG 2.1 Level Double-A Conformance">
                <img height="32" width="88" src="https://www.w3.org/WAI/wcag2AA-blue.png" alt="Level Double-A conformance, W3C WAI Web Content Accessibility Guidelines 2.1" loading="lazy">
            </a>
        </div>
    </div>
       <!-- Flat Menu -->
    <!-- Microformats -->
    <meta itemprop="name" content="{$plugin:widcard:BizOrgName:notag}" />
    <link itemprop="image" href="{$plugin:widcard:bizLogo:url}" />
    <meta itemprop="priceRange" content="$$" />
    {$plugin:smtpverification:verify}
</footer>