<header class="container hording" role="banner">
    <div class="logo grid_2 alpha t-grid_2 m-grid_2" itemscope itemtype="http://schema.org/Organization">
    <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
        <img src="{$plugin:widcard:bizLogo:url}" alt="{$widcard:param:trophy:readonly}" itemprop="logo" width="250">
    </a>
</div>
<div class="grid_10 m-grid_2 t-grid_4 omega t-omega">
    <nav id="main-menu" class="grid_10 d-visible" role="navigation">{$menu:main:_main menu}</nav>
    <div class="grid_2 t-prefix_5 t-grid_1 m-grid_2 m-prefix_2 t-omega omega text-center logo-hording" >
        <a href="https://www.westernslopehoarding.com/" class="d-visible">CLICK HERE</a>
        {$imageonly:header-hording:250:static}
    </div>
    <div class="grid_12 t-grid_6 m-grid_4 omega text-right social-icon main-border-top " >
        {$template:_social links}
    </div>
</div>
<div class="blue top-line d-visible">
    <p class="grid_7 alpha">{$header:top-1:static}</p>
    <a href="tel:{$plugin:widcard:BizTelephone:href}" class="grid_5 omega text-right tel">CALL US NOW {$plugin:widcard:BizTelephone:notag}</a>
</div>
</header>