<header class="container" role="banner">
    <div class="logo grid_2 alpha t-grid_2 m-grid_2" itemscope itemtype="http://schema.org/Organization">
        <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="Biohazard Cleaning Company and Crime, Trauma Scene Cleanup in Denver area, Colorado" itemprop="logo" width="250">
        </a>
    </div>
    <div class="main-border-bottom grid_10 m-grid_2 t-grid_4 omega">
        <nav id="main-menu" class="grid_10 d-visible" role="navigation">{$menu:main:_main menu}</nav>
        <div class="grid_2 t-grid_6 m-grid_4 omega text-right social-icon" role="search">{$template:_social links}</div>
    </div>
    <div class="blue top-line d-visible">
        <p class="grid_7 alpha">{$header:top-1:static}</p>
        <a href="tel:{$plugin:widcard:BizTelephone:href}" class="grid_5 omega text-right tel">CALL US NOW {$plugin:widcard:BizTelephone:notag}</a>
    </div>
</header>