<header class="container hording" role="banner">
<span class="role hide" data-role="{$user:roleid:readonly}"></span>
    <div class="logo grid_2 alpha t-grid_2 m-grid_2" itemscope itemtype="http://schema.org/Organization">
        <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="{$widcard:param:trophy:readonly}" itemprop="logo" width="250" loading="lazy">
        </a>
    </div>
    <div class="grid_10 m-grid_2 t-grid_4 omega t-omega">
        <nav id="main-menu" class="grid_10 d-visible" role="navigation">{$menu:main:_main menu}</nav>
        <div class="grid_2 t-prefix_5 t-grid_1 m-grid_2 m-prefix_2 t-omega omega text-center logo-hording" >
           {$fastbutton:hording-btn:d-visible:static}
           {$imageonly:header-hording:250:static}
        </div>
    </div>
    <div class="grid_12 t-grid_6 m-grid_4 block-button main-border-top">
        <div class="grid_9 t-grid_6 m-grid_4 button_header">
            {$fastbutton:facebook_review:btn reviews-header inline-block:static}
            {$fastbutton:gmb_review:btn reviews-header inline-block:static}
           <a href="{$website:url}about-us.html#reviews" class="check-out"><span>Check out what our clients say</span></a>
        </div> 
        <div class="grid_3 t-grid_6 m-grid_4 social-icon omega fl-right">{$template:_social links}</div> 
    </div>
    <div class="blue top-line d-visible">
        <p class="grid_7 alpha">{$header:top-1:static}</p>
        <a href="tel:{$plugin:widcard:BizTelephone:href}" class="grid_5 omega text-right tel">CALL US NOW {$plugin:widcard:BizTelephone:notag}</a>
    </div>
     <div class="grid_12 alpha omega t-grid_6 t-alpha t-omega m-grid_4 m-alpha m-omega tel-line text-center">
        <a class="btn large call-now" href="tel:{$plugin:widcard:BizTelephone:href}">Call Now – 24 / 7</a>
    </div>
</header>