{ifpages}
    <span class="sub-menu-btn {$mobile:device:desktop=d-hide}"></span>
{/ifpages}

<a href="{$page:url}" title="{$page:navName}">{$page:navName}</a>

{submenu}
    <a class="page-title" href="{$page:url}" title="{$page:navName}">{$page:navName}</a>
{/submenu}