<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top">
    <span class="btn icon-menu" data-refer="main"></span>
    <a href="tel:{$plugin:widcard:BizTelephone:href}" class="icon-phone fl-right">{$plugin:widcard:BizTelephone:notag}</a>
</div>
<aside class="m-menu left" data-el="main">
    <div class="menu-top-header"></div>
    {$menu:main:_main menu}
</aside>