<div class="product-item">
	<a href="{$product:url}" class="product-image"><img src="{$product:photourl:small}" alt="{$product:name}" /></a>
	<a class="product-title" href="{$product:url}">{$product:name}</a>
	<span class="product-price">{$product:price}</span>
	<p class="product-description">{$product:description}</p>
	{$store:addtocart:{$product:id}}
</div>