<!-- SCRIPTS ZONE -->
{$plugin:notifier:subscribe}
{device:desktop}
<script src="js/scripts.min.js"></script>
{/device}
<script src="js/system/flexkit.min.js"></script>
{$pwa:sw}
<!-- smtp -->
{$plugin:smtpverification:verify}
<script>
    $(function(){
        $('.cat-2, .featureditem.services').on('click', '.page-title, .learn-more, a.page-teaser-image', function(e){
            e.preventDefault();
            if(e.target.classList.contains('learn-more') || e.target.classList.contains('page-teaser-image')){
                var h1 = $(this).closest('li').find('.page-title').text();
                var href = $(this).closest('li').find('.page-title').attr('href');
            } else {
                var h1 = $(this).text();
                var href = e.target.href;
            }
            document.location.href = href + '#' + h1;
        });
    });
    //   var quoteBtn = document.querySelector('.fb_request-service');
    // if (quoteBtn != undefined) {
    //     document.querySelector('.fb_request-service').addEventListener('click', function (e) {
    //         e.preventDefault();
    //         var h1 = document.querySelector('h1').innerText;
    //         document.location.href = e.target.href + '#' + h1;
    //     });
    // }
    var form = document.querySelector('#contact');
    if (form != undefined) {
        // form.querySelector('#servicerequested').setAttribute('readonly', true);
        // form.querySelector('#servicerequested').className = 'noedit';
        form.querySelector('#servicerequested').value = decodeURIComponent(location.hash.substr(1));
        // document.querySelector('h1').innerHTML += ' <span class="primary bold">'+ decodeURIComponent(location.hash.substr(1))  +'</span>';
    }
    $(".main_menu li.cat-8 a").attr("target","_blank");
    $(".notifier-subscribe-button").addClass("white btn mt0px mb15px");
</script>