<footer  itemscope itemtype="http://schema.org/LocalBusiness" role="contentinfo">
    <div class="container">
        <div class="grid_4 t-grid_2 m-hide">
            <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
                <img src="{$plugin:widcard:bizLogo:url}"  class="logo" alt="Biohazard Cleaning Company & Crime Scene Cleaning Franchise Opportunities" itemprop="logo">
            </a>
        </div>
        <div class="grid_4 t-grid_2 m-grid_4">
            <p class="icon-phone icon-footer" itemprop="telephone" content="{$plugin:widcard:BizTelephone:notag}">{$plugin:widcard:BizTelephone:notag}</p>
            <address class="icon-location2 icon-footer" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
                <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
                <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
                <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
                <meta itemprop="addressCountry" content="EN"/>
            </address>
            <!--a class="icon-mail icon-footer" href="contact.html" itemprop="email">E-MAIL US</a-->
            {$fastbutton:footer1:icon-mail icon-footer:static}
            {$fastbutton:footer2:icon-footer icon-clipboard2:static}
            {$fastbutton:footer3:icon-footer icon-home2:static}
        </div>
        <div class="grid_4 footer-img t-grid_2 m-grid_4">
            <div class="grid_12 alpha omega"> {$fastbutton:visit:btn:static}</div>
            <!--<div class="grid_12 alpha omega"> {$content:foot-img:static}</div>-->
            <table role="presentation">
                <tbody style="border: none;">
                <tr style="border: none;">
                <td style="max-width: 80px; border: none;">
                    {$imageonly:logo-other1:original:static}
                </td>
                <td style="max-width: 80px; border: none;">
                {$imageonly:logo-other2:original:static}
                </td>
                <td style="max-width: 80px; border: none;">
                    {$imageonly:logo-other3:original:static}
                </td>
                </tr>
                <tr>
                <td style="max-width: 80px; border: none;">                 
                {$imageonly:logo-other4:original:static}
                </td>
                <td style="max-width: 80px; border: none;" colspan="2">
                    {$imageonly:logo-other5:original:static}
                </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="grid_12 footer-blue">{$content:footer-info:static}</div>
    </div>
    <!-- Flat Menu -->
    <!-- Microformats -->
    <meta itemprop="name" content="{$plugin:widcard:BizOrgName:notag}" />
    <link itemprop="image" href="{$plugin:widcard:bizLogo:url}" />
    <meta itemprop="priceRange" content="$$" />
    {$plugin:smtpverification:verify}
</footer>