<!DOCTYPE html>
<html>
<head>
<!-- Include head template -->
{$template:_head}
</head>
<body class="{$user:roleId:readonly}">
<!-- Include header template -->
{$template:_header}
<main>
<div class="slider cycle-slideshow before-after-slider"
     data-cycle-slides=".slide"
     data-cycle-fx="scrollHorz"
     data-cycle-max-z="9"
     data-cycle-pager=".cycle-pager"
     data-cycle-timeout="7000"
     data-cycle-pager-template="<span class='page_{{slideNum}} '>  </span>">
     {repeat:home-slider:key:1}
        <div class="slide">{$imageonly:slide_key:1920}</div>
    {/repeat}
    <div class="container">
        <div class="slide-text grid_6 alpha">
            <h1 class=" mt30px">{$page:h1}</h1>
            <p class="small-title">{$page:teaser}</p>
            {$fastbutton:request-service:read mt30px:static}
            <a href="tel:{$plugin:widcard:BizTelephone:href}" class="fb_learn  learn btn">CALL US NOW</a>
        </div>
    </div>
    <div id="pager" class="cycle-pager"></div>
</div>
<!-- Container -->
<div id="page" class="container">
    <div class="grid_12 text-center mt30px mb30px">{$content:new:static}</div>
    <div class="grid_7 big-font-size">
        <a name="text"></a>
       <span class="teaser-img-services m-grid_4 t-grid_6"> {$imageonly:teaser:300} </span>{$content:2}
        <p class="clear"></p>
        <a href="tel:{$plugin:widcard:BizTelephone:href}" class="btn icon-phone mb30px">CALL US NOW</a>
        {$fastbutton:visit:tr-bg btn mb30px}
    </div>
    <div class="grid_5 mb30px contact-form">
        <div class="text-center mt20px"> {$imageonly:logo-footer:150:static}</div>
        {$content:form:static}
    </div>
    <div class="grid_7 big-padding">
        <p class="h3 text-center">{$header:review:static}</p>
        <div class="block-reviews-list">
            <ul class="review-widget-list"></ul>
        </div>
    </div>
    <div class="grid_5 big-padding bottom-form">
        <p class="h3 text-center mb30px">{$header:reputation-management:static}</p>
        <div class="grid_12 t-grid_6 m-grid_4 text-center mt30px" >{$content:reputation-management:static}</div>
         <div class="grid_12 button_header">
           <div class="grid_6 alpha t-grid_3 t-alpha"> {$fastbutton:facebook_review:btn reviews-header inline-block:static}</div>
            <div class="grid_6 omega t-grid_3 t-omega"> {$fastbutton:gmb_review:btn reviews-header inline-block:static}</div>
        </div> 
        <p class="grid_12 h4 text-center mb30px">{$header:reputation-management2:static}</p>
        <div class="grid_12 alpha omega block-reviews block-reviews-center mb30px">
            {$plugin:pagerating:review:moderated:noschema}
            <a href="{$website:url}" title="{$header:BizOrgName:static:readonly}" itemprop="url" class="hide">
                <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}" width="170" height="35" itemprop="logo">
                <meta itemprop="name" content="{$header:BizOrgName:static:readonly}"/>
            </a>
            <div id="pager-review" class="cycle-pager-review"></div>
    </div>
        <div class="grid_12 alpha omega text-center">
            <button class="action-show-review-form mb30px">Leave Review</button>
        </div>
    </div>
</div>
</main>
{$content:widget-script:static}
{$template:_footer}
<!-- Include mobile elements template -->
{$template:_mobile elements}
<!-- Include scripts template -->
{$template:_scripts}
<script src="js/plugin/jquery.cycle2.min.js"></script>
<script src="js/plugin/jquery.cycle2.carousel.min.js"></script>
<script>
    $(function(){
        $('.action-show-review-form').on('click', function(){
            $(this).hide();
            $('.block-review-form').toggle('show');
            $('.cycle-pager-review').toggle('hide');
        });
        $('.block-reviews .review-form, .block-reviews .starrating').wrapAll('<div class="block-review-form"></div>');
        if($('.pagerating-list .pagerating-review').length > 1) {
            $('.block-reviews .pagerating-list').cycle({
                manualSpeed: 100,
                timeout: 0,
                fx: 'carousel',
                 carouselVisible: {$mobile:device:mobile=1:tablet=1:desktop=1},
                carouselFluid: true,
                pager: "#pager-review",
                slides: '> .pagerating-review',
                autoHeight: "calc"
            });
        }
        if( $("p").is(".review-done")){
            $('.action-show-review-form').hide();
        }
    });
</script>
</body>
</html>