<!DOCTYPE html>
<html>
<head>
<!-- Include head template -->
{$template:_head}
</head>
<body class="{$user:roleId:readonly}">
{$template:_header}
<main>
<div class="slider cycle-slideshow before-after-slider"
     data-cycle-slides=".slide"
     data-cycle-fx="scrollHorz"
     data-cycle-max-z="10"
     data-cycle-pager=".cycle-pager"
     data-cycle-timeout="7000"
     data-cycle-pager-template="<span class='page_{{slideNum}} '>  </span>">
    {repeat:home-slider:key:3}
        <div class="slide"> {$imageonly:slide_key:1920}</div>
    {/repeat}
    <div class="slide-text">
        <h1 class=" mt30px" role="heading">{$page:h1}</h1>
        <p class="small-title">{$page:teaser}</p>
        {$fastbutton:request-service:btn get-help mt30px :static}
    </div>
    <div id="pager" class="cycle-pager"></div>
</div>
<!-- Container -->
<div id="page" class="container ">
    <div class="grid_12 mt30px flex-container">
        <div class="light-blue-bg2">
            <h3>{$header:page-review1:static}</h3>
            <div class="grid_12 alpha omega pagerating-list-left cycle-slideshow slider">
                <div class="cycle-pager-review"></div>
            </div>
        </div>
        <div class="bottom-form" itemscope itemtype="http://schema.org/Organization">
            <h2 class="text-center">{$header:page-review2:static}</h2>
            <a href="{$website:url}" title="{$header:BizOrgName:static:readonly}" itemprop="url" class="hide">
                <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}" width="170" height="35" itemprop="logo">
                <meta itemprop="name" content="{$header:BizOrgName:static:readonly}"/>
            </a>
            {$plugin:pagerating:review:moderated}
        </div>
    </div>
    <div class="grid_3 text-center mb30px">{$imageonly:teaser:300}</div>
    <div class="grid_9 big-font-size">
        {$content:2}
        <div class="text-center"> {$fastbutton:request-service:btn get-help mt30px tr-bg:static}
            {$fastbutton:visit:btn get-help mt30px tr-bg}</div>
        <div class="grid_12 alpha omega text-right">{$plugin:pagerating:stars}</div>
    </div>
    <div class="grid_12">{$content:link}</div>
</div>
</main>
{$template:_footer}
<!-- Include mobile elements template -->
{$template:_mobile elements}
<!-- Include scripts template -->
{$template:_scripts}
<script type="text/javascript" src="js/plugin/jquery.cycle2.min.js"></script>
<script>
    $(function () {
        $(".bottom-form .pagerating-list").prependTo(".pagerating-list-left");
        $(".review-header").text("Leave your review");
        //Slider for page-rating-list
        if ($('.pagerating-review').length > 1) {
            $('.pagerating-list').cycle({
                slides: '.pagerating-review',
                fx: 'scrollHorz',
                speed: 500,
                timeout: 10000,
                autoHeight: 'calc',
                pager: '.cycle-pager-review'
            });
           $('.cycle-pager-review').show();
        };
    });
</script>
</body>
</html>