<!DOCTYPE html>
<html>
<head>
<!-- Include head template -->
{$template:_head}
</head>
<body class="{$user:roleId:readonly}">
{$template:_header}
<div class="slider cycle-slideshow before-after-slider"
     data-cycle-slides=".slide"
     data-cycle-fx="scrollHorz"
     data-cycle-max-z="10"
     data-cycle-pager=".cycle-pager"
     data-cycle-timeout="7000"
     data-cycle-pager-template="<span class='page_{{slideNum}} '>  </span>">
    {repeat:home-slider:key:3}
        <div class="slide">{$imageonly:slide_key:1920}</div>
    {/repeat}
        <div class="slide-text">
            <h1 class=" mt30px" role="heading">{$page:h1}</h1>
            <p class="small-title">{$page:teaser}</p>
            {$fastbutton:request-service:btn get-help mt30px :static}
        </div>
    <div id="pager" class="cycle-pager"></div>
</div>
<!-- Container -->
<div id="page" class="container ">
    <div class="grid_12 alpha omega block-reviews mb30px">
        {$plugin:pagerating:review}
        <div id="pager-review" class="cycle-pager-review"></div>
    </div>
    <div class="grid_12 alpha omega text-center">
        <button class="action-show-review-form mb30px">Leave Review</button>
    </div>
    <div class="grid_9 big-font-size">
        {$content:2}
        <div class="text-center"> 
            {$fastbutton:request-service:btn get-help mt30px tr-bg:static}
            {$fastbutton:visit:btn get-help mt30px tr-bg}
        </div>
    </div>
    <div class="grid_3 text-center mb30px">{$imageonly:teaser:300}</div>
</div>
{$template:_footer}
<!-- Include mobile elements template -->
{$template:_mobile elements}
<!-- Include scripts template -->
{$template:_scripts}
<script src="js/plugin/jquery.cycle2.min.js"></script>
<script src="http://malsup.github.io/min/jquery.cycle2.carousel.min.js"></script>
<script>
    $(function(){
        $('.action-show-review-form').on('click', function(){
            $('.block-review-form').toggle('show');
            $(this).toggle('hide');
            $('.cycle-pager-review').toggle('hide');
        });
        $('.block-reviews .starrating, .block-reviews form').wrapAll('<div class="block-review-form grid_8 prefix_2 suffix_2"></div>');
    });
    $('.block-reviews .pagerating-list').cycle({
        manualSpeed: 100,
        timeout: 0,
        fx: 'carousel',
        carouselVisible: 2,
        carouselFluid: true,
        pager: "#pager-review",
        slides: '> .pagerating-review'
    });
</script>
</body>
</html>