@responsive-size-tablet-over : (@responsive-size-tablet + 1);
@media only screen and (min-width : @responsive-size-tablet-over) {
    .d-hide, .t-visible, .m-visible {
        display : none !important;
    }
}

@responsive-size-mobile-over : (@responsive-size-mobile + 1);
@media only screen and (min-width : @responsive-size-mobile-over) and (max-width : @responsive-size-tablet) {
    .t-hide, .d-visible, .m-visible {
        display : none !important;
    }
}

@media only screen and (max-width : @responsive-size-mobile) {
    .m-hide, .d-visible, .t-visible {
        display : none !important;
    }
    .block-reviews{
         &.block-reviews-center{
             .description {
                 padding-right: 0;
                 max-height: 403px;
             }
         }
     }
    .block-button{
        text-align: center;
        .social-icon{
            text-align: center!important;
        }
    }
}
//================================================\\
//************** Divece orientation **************\\
//================================================\\
@media only screen and (orientation : portrait) {
}

@media only screen and (orientation : landscape) {}

//================================================\\
//*************** Divece screen size *************\\
//================================================\\
@media only screen and (max-width : @responsive-size-big-screen) {
    .top-line {
        top: 52px;
    }
}
@media only screen and (max-width : 1550px) {
    .top-fr .grid_4 {
        margin: -4em 0 -2em;
    }
}
//***** Bigger than Desktop site size *****\\
@responsive-size-desktop-above : (@responsive-size-desktop + 1);
@media only screen and (min-width : @responsive-size-desktop-above) {
    .main_menu a {
        font-size: 0.7em;
    }
    #housecall-button {
        margin-top: 5px !important;
    }
}

//***** Tablet Portrait *****\\
@media only screen and (max-width : @responsive-size-desktop) {

    html {
        font-size: 17px;
    }
    .main_menu {
        a {
            font-size: 0.7em;
        }
    }
    .banner {
        iframe {
            height: 380px !important;
        }
        h2 {
            font-size: 1.5em;
            margin-top: 85px !important;
        }
    }
    .top-fr .grid_4 {
        margin: 0;
    }
    h2, .h2 {
        font-size: 2em;
    }
    footer .footer-img {
        > img {
            width: 49%;
        }
    }
    //form [type="submit"] {
    //    float: left;
    //}
    .contact-form {
        font-size: 14px;
    }
    .grid_4 .g-recaptcha{
        margin-left: -31px;
        transform: scale(0.79);
    }
    .grid_5 .g-recaptcha {
        margin-left: 9px;
        transform: scale(1.05);
    }
    .pagerating-review{
        .description,.response-comment {
           font-size: 14px;
        }
    }
    body{
        &.offline{
            .mobile-bar{
                &.top{
                    top: 0;
                }
            }
            header {
                padding-top: 2em;
            }
        }
    }
}

//***** All Mobile Sizes *****\\
@media only screen and (max-width : @responsive-size-tablet) {
    footer .footer-img {
        a.btn {
            font-size: 0.9em;
        }
    }
    .banner .grid_6, .light-blue-bg .grid_6 {
        margin-bottom: 30px;
        h2 {
            margin-top: 40px !important;
        }
    }
    form [type="submit"] {
        float: right;
    }
    .default-btn {
        font-size: 20px;
    }
    .main-border-bottom {
        border-bottom: none;
    }

    .banner {
        margin-top: 0;
    }
    header {
        padding-top: 62px;
    }
    .block-reviews{
        &.block-reviews-center{
            .description {
                max-height: 395px;
            }
        }
    }
    footer .footer-blue .wcag-link {
        position: relative;
        right: auto;
        top: auto;
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}

//***** Just Mobile Portrait *****\\
@media only screen and (max-width : @responsive-size-mobile) {
    //body.news-page *{
    //    text-align: left !important;
    //}
    .captcha {
        &, img {
            width : 100%;
        }
    }

    img[style*="float: left"], img[style*="float:left"], img[style*="float: right"], img[style*="float:right"]{
        float: none !important;
        display: block;
        margin: 0 auto 1em;
    }
    
    form [type="submit"], form [type="button"] {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .light-blue-bg iframe, .banner iframe {
        height: 200px !important;
    }
    .contact-form .g-recaptcha {
        transform: scale(0.89);
        margin-left: -13px;
        & > div {
            transform: scale(0.95, 1);
        }
    }
    footer .footer-img > img {
        width: 48%;
    }
    footer .footer-img a.btn {
        font-size: 0.7em;
    }
    footer {
        .footer-img{
            text-align: center;
            margin-top: 15px;
        }
    }
    //body.news-page header {
    //    padding-top: 70px;
    //}
    //.g-recaptcha {
    //    margin-left: 17px;
    //    transform: scale(1.1);
    //}
    //.banner-image .learn {
    //    position: static;
    //    display: block;
    //}
    .block-reviews{
        &.block-reviews-center{
            .description {
                padding-right: 0;
                max-height: 403px;
            }
        }
    }
    .cycle-slide {
        .description{
            max-height: 403px;
        }
    }
    .block-reviews {
       padding: 20px;
        .block-review-form {
            padding: 20px;
            .g-recaptcha {
                margin-left: -2px;
                transform: scale(1);
            }
        }
    }
    .banner-image .left-block {
        padding: 20px 30px 50px 20px;
        h1 {
            font-size: 1.5em;
        }

    }
    .fb_facebook_review, .fb_gmb_review {
        width: 100%;
    }
    header .check-out {
        margin-right: 0;
        span {
            float:none;
        }
    }
    .h1-blue-block {
        margin-top: 0px;
    }
    header .check-out span {
        margin-top: 0px;
    }
}
@media only screen and (max-width: 325px){
    .contact-form .g-recaptcha {
        transform: scale(0.76, 0.9);
        margin-left: -34px;
    }
    .block-reviews .block-review-form .g-recaptcha {
        margin-left: -26px;
        transform: scale(0.8);
    }
    .before-after-slider .slide>img {
        left: -90%;
    }
    .review-form>*{
        display: block;
    }

}
//***** Just Small Phone *****\\
@media only screen and (max-width : @responsive-size-phone) {
    .g-recaptcha{
        float: none;
    }

	.cycle-slide{
            .description {
                max-height: 460px;
            }
        }
	.block-reviews{
		&.block-reviews-center{
			.description {
				padding-right: 0;
				max-height: 460px;
			}
		}
	}
}
.g-recaptcha {
    position      : relative;
    margin-bottom : 15px;
    @media only screen and (max-width : @responsive-size-mobile) and (orientation : portrait) {
        & > div {
            .scale(0.8);
            transform-origin : 4% 50%;
        }
    }
}


//================================================\\
//************** Divece pixel ratio **************\\
//================================================\\
@media screen and (-webkit-min-device-pixel-ratio : 1.3) {
}

@media screen and (-webkit-min-device-pixel-ratio : 1.5) {
}

@media screen and (-webkit-min-device-pixel-ratio : 2) {
}

@import "../mobile/loader";