.news-item when (@widget-news-list){

    .news-item-image{
        margin-bottom: 1.4rem;
        height: 200px;
        overflow: hidden;
        display: block;
        img{     width: 100%;}
    }
    .news-item-title{
        font-size: 1.25rem;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.2;
        padding: 0 1.857rem;}

    .newslog-admin-actions{
        text-align : right;
        a{ }
    }
    .news-item-date{
        font-size: 0.7rem;
        color : lighten(@text-color, 15%);

        &::before{
            top       : -1px;
            font-size : 16px;
            color     : @primary-bg;
            margin-right: 5px;
        }
        .news-page &{
            font-size: 0.7em;
        }
    }
    .news-item-description{
        padding: 0 1.857rem;
        color: #000;
        font-size: .9375rem;
        margin-bottom: 1.857rem;
    }

    .news-item-tags{

        a{
            .link-color(@gray);

            & + a{
                margin-left : 0.5em;
            }

            &::before{
                color        : @gray;
                margin-right : 0.5em;
            }
        }
    }

    .newslog-tag-filter{

    }
    .btn-container {
        padding-left: 1.857rem;
        padding-right: 1.857rem;
        position: absolute;
        bottom: 1.857rem;
        left: 0;
        right: 0;
        text-align: center;
    }
}
.news-list  when (@widget-news-list) {
    .inline-block-wrap();
    .flexbox(row; wrap);
    margin-bottom: -1.3rem;
    .news-item {
        overflow: hidden;
        position: relative;
        margin-bottom: 1.3%;
        .grid-elements(4; 4%; false);
        box-shadow: 0 3px 8px 0 rgba(0,0,0,.15);
        background: #f8f8f8;
        padding: 0rem 0 5.5rem;
        .transition();
        &:hover {
            .btn {
                background: #0C4C8A;
            }
        }
        @media only screen and (max-width: 1200px) {
            .grid-elements(3; 4%; false);
        }
        @media only screen and (max-width: 800px) {
            .grid-elements(2; 1.3%; false);
        }
        @media only screen and (max-width: @responsive-size-mobile) {
            padding-top: 1.857rem;
            .grid-elements(1; 1.3%; false);
        }
    }
    .news-item-top {
        position: relative;
        &::before {
            position: absolute;
            top: 0;
            bottom: 1rem;
            left: 50%;
            content: "";
            background: #F6D258;
            width: 100%;
        }
    }
    .news-item-date {
        color: #7c7c7c;
        padding-left: 1.857rem;
        padding-right: 1rem;

    }
    .news-item-title {
        color: #000;
        font-size: 1rem;
        font-weight: 600;
        text-decoration: none;
        line-height: 1.2;
        padding-left: 1.857rem;
        padding-right: 1rem;
        margin-bottom: 1rem;
        display: block;
        span {
            display: block;
            border-bottom: 3px solid @primary-color;
            padding-bottom: 0.625rem;
        }
    }
    .news-item-description {
        padding: 0 1.857rem;
        color: #000;
        font-size: 0.9375rem;
        margin-bottom: 1.857rem;
        @media only screen and (max-width: 1599px) {
            font-size: 1rem;
        }
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    //.news-item-date {
    //    color: #000;
    //    padding: 0.625rem;
    //    margin-bottom: 1rem;
    //    font-size: 1.5rem;
    //    font-weight: 800;
    //    line-height: 1;
    //    text-align: center;
    //}
    .btn {
        background: #000;
        color: #fff;
        width: 70%;
        font-size: 20px;
        padding: 0;
    }
    .news-button-container {
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1.857rem;
        padding: 0 1.857rem;
        @media only screen and (max-width: 1599px) {
            text-align: left;
        }
        @media only screen and (max-width: @responsive-size-mobile) {
            .btn {
                display: block;
            }
        }
    }

}
.side-news-list {
    .news-item {
        width: 100%;
        box-shadow: none;
        padding: 0;
        margin-bottom: 30px;
        .news-item-title {
            font-size: 1rem;
            padding: 0;
            display: block;
            .news-page &{
                font-size: 1em;
            }
        }
    }
}
.tags-container {
    font-size: 0;
    a {
        width: 100%;
        padding: 11px;
        font-size: 0.8rem;
        font-weight: bold;
        text-transform: capitalize;
        color: #171717;
        display: block;
        text-decoration: none;
        border-bottom: 1px solid #fff;
    }
    .news-page &{
        font-size: @font-size-base;
        a{
            font-size: 0.8em;
        }
    }
}
.news-item-tags {
    color: #fff;
    padding: 15px 10px 15px 0;
    .newslog-tag-filter {
        text-transform: uppercase;
        text-decoration: none;
        font-size: 13px;
        background: #003c5e;
        padding: 3px 7px;
        border-radius: 3px;
        color:#fff!important;
        margin-left: 0px;
        margin-bottom: 3px;
        display: inline-block;
        &:hover {
            color:#fff!important;
        }
        &:first-child {
            display: none;
        }

    }
}