//	PAGE Style
//==================================================
html {
    scroll-behavior : smooth;
}

body {
    // custom scroll-bar
    //.scroll-bar();
    overflow-x : hidden;
    &.news-page {
        font-size                : @font-size-base;
        font-family              : @font-family-text;
        line-height              : @line-height;
        -ms-text-size-adjust     : 100%; // *2*
        -webkit-text-size-adjust : 100%; // *2*
        .container {
            width     : @grid-container-width;
            max-width : @grid-container-maxWidth !important;
        }
        .top-line {
            p {
                margin : 12px 0;
            }
        }

    }
    //panel
    &.sales {
        #cpanelul {
            > li:not(.plugin-crm) {
                display : none;
            }
        }
        .tpopup,
        .admin-actions {
            display : none;
        }
    }
    #housecall-bar {
        z-index : 12;
    }
}

.offline {
    header {
        padding-top : 5em;
        .top-line {
            top : 0;
        }
    }
}

#editor-news-body {
    p {
        //margin-top    : 0;
        margin-bottom : 15px;
    }
}

#u_body {
    min-height : auto !important;
}

main {
}

#page {
}

//	HEADER Style
//==================================================
header {
    background     : @header-bg;
    color          : @header-color;
    padding-top    : 7em;
    padding-bottom : 20px;
    // -- LOGO Style
    .logo {
        text-decoration : none;
        margin-top      : 0;
        a {
            display : block;
        }
        img {
            display : inline-block;
        }
    }
    .social-icon {
        margin-top : 40px;
    }
    &.hording {
        .social-icon {
            margin-top : 10px;
            a:last-child {
                margin-right : 2%;
            }
        }
        .logo {
            margin-bottom : 0;
        }
        .logo-hording {
            > a {
                font-size       : 14px;
                text-decoration : none;
            }
            img {
                width : 75%;
            }
        }
        .logo-hording {
            float : right;
        }
    }
    .check-out {
        display         : block;
        text-decoration : none;
        margin-top      : 15px;
        margin-right    : 10%;
        &::before {
            //content : url("../images/stars.jpg");
            content                 : "\e08b \e08b \e08b \e08b \e08b";
            font-family             : @font-family-icons;
            speak                   : none;
            font-style              : normal;
            font-weight             : normal;
            text-transform          : none;
            line-height             : 1;
            position                : relative;
            text-align              : center;
            .inline-block();

            // Better Font Rendering
            -webkit-font-smoothing  : antialiased;
            -moz-osx-font-smoothing : grayscale;
            letter-spacing          : 5px;
            font-size               : 1.25em;
            color                   : #fea500;
        }
        span {
            display    : inline-block;
            margin-top : 5px;
            float      : right;
        }
    }
    .tel-line {
        position         : fixed;
        left             : 0;
        right            : 0;
        top              : 0;
        padding          : 0.5em 0;
        font-size        : 0.75em;
        background-color : #fff;
        z-index          : 11;
        .call-now {
            background  : red;
            color       : white;
            font-weight : bold;
        }
    }
    .tel-line-style {
        top : 50px
    }
}

.h1-blue-block {
    margin-top : 30px;
}

.blue-bg {
    background : @brand-primary;
    color      : #fff;
    &::before {
        background-color : @brand-primary;
    }
    h2 {
        color : #fff;
    }
    h1 {
        color      : #fff;
        z-index    : 1;
        position   : relative;
        text-align : center;
        margin     : 50px !important;
        font-size  : 2em;
    }
}

.light-blue-bg {
    background : #2c6d93;
    color      : #fff;
    &::before {
        background : #2c6d93;
    }
    h3 {
        color         : #fff;
        margin-bottom : 0.6em;
        margin-top    : 1.5em !important;
        font-size     : 1.7em;
    }
}

.light-blue-bg2 {
    padding    : 2em 1em;
    background : #2c6d93;
    color      : #fff;
    h3 {
        color         : #fff;
        margin-top    : 1.5em;
        margin-bottom : 0.6em;
        font-size     : 1.7em;
    }
}

.flex-container {
    margin-bottom           : 2em;
    display                 : -ms-flexbox;
    display                 : -webkit-flex;
    display                 : flex;
    -webkit-flex-direction  : row;
    -ms-flex-direction      : row;
    flex-direction          : row;
    -webkit-flex-wrap       : nowrap;
    -ms-flex-wrap           : nowrap;
    flex-wrap               : nowrap;
    -webkit-justify-content : space-between;
    -ms-flex-pack           : justify;
    justify-content         : space-between;
    -webkit-align-content   : flex-start;
    -ms-flex-line-pack      : start;
    align-content           : flex-start;
    -webkit-align-items     : stretch;
    -ms-flex-align          : stretch;
    align-items             : stretch;
    > div {
        -webkit-order       : 0;
        -ms-flex-order      : 0;
        order               : 0;
        -webkit-flex        : 0 1 49%;
        -ms-flex            : 0 1 49%;
        flex                : 0 1 49%;
        -webkit-align-self  : auto;
        -ms-flex-item-align : auto;
        align-self          : auto;
    }
}

.top-line {
    position   : absolute;
    top        : 62px;
    left       : 0;
    width      : 100%;
    background : @brand-primary;
    color      : #fff;
    p {
        text-transform : uppercase;
        margin         : 12px 0;
        font-size      : 12px;
    }
    .tel {
        color           : #fff;
        text-decoration : none;
        margin          : 4px 0;
        font-size       : 1.2em;
    }
    &::before {
        background : @brand-primary;
    }
}

.light-blue::after, .gray-bg::after, .blue-bg::after, .top-line::after, .footer-blue::after, .light-blue-bg::after {
    content : "";
    display : table;
    clear   : both;
}

.light-blue::before, .gray-bg::before, .blue-bg::before, .top-line::before, .footer-blue::before, .light-blue-bg::before {
    content      : '';
    position     : absolute;
    top          : 0;
    bottom       : 0;
    width        : 100vw;
    left         : 50%;
    right        : 50%;
    margin-left  : -50vw;
    margin-right : -50vw;
}

.main-border-bottom {
    border-bottom  : 3px solid #e3e3e3;
    padding-bottom : 13px;
}

.main-border-top {
    border-top  : 3px solid #e3e3e3;
    padding-top : 13px;
}

.banner {
    width           : 100%;
    overflow        : hidden;
    position        : relative;
    color           : #fff;
    //margin-top : 30px;
    background-size : cover;
    > img {
        //position   : absolute;
        //top        : 0;
        //left       : 0;
        //bottom     : 0;
        //max-width  : none;
        //width      : auto;
        //min-width  : 100%;
        //min-height : 100%;
        display : none;
    }
    &::before {
        .rgba(@brand-primary; 50%);
        content  : "";
        width    : 100%;
        height   : 100%;
        position : absolute;
        z-index  : 1;
    }
    h2 {
        text-transform : uppercase;
        color          : #fff;
        font-size      : 2em;
        margin-top     : 100px !important;
        line-height    : 1.3em;
    }
    .container {
        z-index : 2;
    }
    .tpopup {
        z-index : 10;
    }
}

.video-top {
    padding-top : 8px;
    .description {
        display : none;
    }
    h4.title {
        display : none;
    }
}

.top-fr {
    border        : 20px solid #b7b9be;
    position      : relative;
    padding       : 3%;
    margin-top    : 7%;
    margin-bottom : 7%;
    .grid_4 {
        margin : -4em 0 -4em;
    }
    .photo-about {
        > img {
            border-radius : 50%;
        }
    }
    .bigger-h2 {
        font-size : 3em;
        color     : @brand-primary;
    }
    h3 {
        margin-top : 0;
    }
}

.contact-form {
    background    : #003c5e;
    color         : #fff;
    border-radius : 5px;
    padding       : 0 35px 25px 35px;
    margin-bottom : 30px;
    .g-recaptcha {
        float : left;
    }
    form input[type="submit"] {
        background   : #fff;
        color        : #000;
        border-color : #000;
    }
}

.service-testimonials {
    display   : none;
    border    : 1px solid @brand-primary;
    padding   : 20px;
    font-size : 18px;
    .border-radius(5px);
    span.name {
        font-weight : bold;
        font-size   : 15px;
    }
    .review-header {
        margin-bottom : 0;
        margin-top    : 0;
    }
    .rating-block-left .starrating {
        float         : none;
        margin-bottom : 10px;
        display       : none;
    }
    h3 {
        padding-bottom : 1.5em;
    }
    .pagerating-list .pagerating-review {
        border-bottom  : 1px solid #ddd;
        padding-bottom : 10px;
        margin-bottom  : 10px;
    }
}

.bottom-form {
    .starrating {
        float         : none;
        margin-bottom : 10px;
        .r-head-text, .total-review {
            display : none;
        }
    }
    .review-header {
        display : none;
    }
}

.rating {
    width : auto !important;
}

.cat-line {
    background : #eee;
    .cat {
        background  : @brand-primary;
        color       : #fff;
        font-size   : 25px;
        font-weight : 300;
        text-align  : center;
        padding     : 2em 0;
    }
    .all-news-tag {
        .inline-block-wrap();
        padding-top : 20px;
        a {
            .grid-elements(3, 1%);
            text-decoration : none;
            color           : @brand-primary;
            font-weight     : bold;
            text-transform  : capitalize;
            font-size       : 17px;
        }
    }
    &::after {
        content : "";
        display : table;
        clear   : both;
    }
    &::before {
        background   : #eee;
        content      : '';
        position     : absolute;
        top          : 0;
        bottom       : 0;
        width        : 100vw;
        left         : 50%;
        right        : 50%;
        margin-left  : -50vw;
        margin-right : -50vw;
    }
}

.inner-banner {
    padding         : 50px 0;
    position        : relative;
    overflow        : hidden;
    margin-top      : 40px;
    margin-bottom   : 40px;
    background-size : cover;
    > img {
        //position   : absolute;
        //top        : 0;
        //left       : 0;
        //bottom     : 0;
        //max-width  : none;
        //width      : auto;
        //min-width  : 100%;
        //min-height : 100%;
        display : none;
    }
    &::before {
        .rgba(@brand-primary; 50%);
        content  : "";
        width    : 100%;
        height   : 100%;
        position : absolute;
        z-index  : 1;
        top      : 0;
    }
    h1 {
        color : #fff;
    }

    .container {
        z-index    : 2;
        text-align : center;
    }
    p {
        color : #fff;
    }
    .btn {
        background   : transparent;
        border-color : #fff;
    }
    .tpopup {
        z-index : 3;
    }
}

.map {
    margin-bottom : 50px;
    overflow      : hidden;
}

.news-item-image {
    > img {
        width : 100%;
    }
}

aside .aside-box {
    margin-bottom : 30px;
    padding       : 20px;
    background    : #eee;
    overflow      : hidden;
}

.map-full {
    width    : 100%;
    overflow : hidden;
}

.btn.white {
    color        : #fff;
    background   : transparent;
    border-color : #fff;
    margin-top   : 20px;
}

.default-btn {
    font-size  : 36px;
    margin-top : 30px;
}

// -- NAV Style
nav {
}

//	CONTENT Style
//==================================================
article {
}

section {
}

// 404 page
//==================================================
.first {
    font-size : 7em;
    font-size : 7vw;
}

//	SIDEBAR Style
//==================================================
aside {
    .aside-box {
        margin-bottom : 30px;
    }
}

//	FOOTER Style
//==================================================
.footer {
    border-top : 3px solid #cecece;
    margin-top : 30px;
    h3 {
        text-transform : uppercase;
        margin-bottom  : 20px;
        color          : @brand-primary;
    }
}

footer {
    padding    : 35px 0 0;
    //color: @footer-color;
    font-size  : @font-size-small;
    border-top : 1px solid #cecece;
    .footer-blue {
        background : @brand-primary;
        margin-top : 35px;
        color      : #fff;
        &::before {
            background : @brand-primary;
            color      : #fff;
        }
        p {
            //z-index    : 10;
            position   : relative;
            font-size  : 0.8em;
            margin-top : 17px;
        }
        a {
            color : #fff;
        }
        .wcag-link {
            position : absolute;
            right    : 0;
            top      : 1em;
        }
    }
    .footer-img {
        text-align : right;
        a.btn {
            text-transform : uppercase;
            background     : darken(#ed1c24, 3%);
            border-color   : darken(#ed1c24, 3%);
            margin-bottom  : 20px;
            font-size      : 1.2em;
        }
        > img {
            .inline-block(bottom);
        }
        .grid_12 > img {
            display    : inline;
            text-align : center;
            width      : 25%;
        }
    }
    .icon-mail {
        display : block;
    }
    .icon-footer {
        font-size       : 1.1em;
        text-decoration : none;
        padding-left    : 35px;
        display         : block;
        margin-bottom   : 12px;
        &::before {
            color        : @brand-primary;
            font-size    : 1.3em;
            margin-right : 10px;
            left         : 0;
            top          : 2px;
            position     : absolute;
        }
    }
    img.logo {
        width : 70%;
    }
}

.g-recaptcha {
    float : left;
}

a.btn.tr-bg {
    background   : transparent;
    color        : @brand-primary;
    border-color : @brand-primary;
    &:hover {
        background : @brand-primary;
        color      : #fff;
    }
}

.wrap-resourses {
    .inline-block-wrap();
    article {
        .grid-elements(4; 2%; false);
        vertical-align : top;
        margin-bottom  : 35px;
    }
}

.starrating {
    float : right;
    .stars-container {
        width : auto !important;
    }
    .fl-left & {
        float : left;
    }
    .no-reviews-text {
        display : none;
    }
}

.gm-style .undefined > div, .gm-style .bubble-info > div {
    width  : auto !important;
    height : auto !important;
}

.pageInfoGmaps {
    width  : 90%;
    margin : 0 auto;
    h4 {
        padding    : 0;
        margin     : 0 0 6px;
        text-align : left;
        font-size  : 19px;
    }
    .imgGmaps {
        display : none !important;
    }
    span {
        font-size : 13px;
    }
}

.phone-section {
    background : #fe121b;
    padding    : 30px 0;
    a {
        color           : @primary-color;
        text-decoration : none;
        font-size       : 34px;
        font-weight     : 700;
        letter-spacing  : 4px;
        &::before {
            .inline-block();
            margin-right : 10px;
        }
    }
}

.block-reviews {
    background : #f6f5f5;
    padding    : 3px;

    .review-header {
        display : none;
    }
    .cycle-pager-review {
        position   : absolute;
        left       : 0;
        right      : 0;
        bottom     : 10px;
        top        : auto;
        z-index    : 20;
        text-align : center;
        > * {
            display        : inline-block;
            vertical-align : middle;
            cursor         : pointer;
            margin         : 0 3px;
            color          : #bbbbbb;
            background     : #ccc;
            border-radius  : 14px;
            width          : 10px;
            height         : 10px;
            line-height    : 10px;
            font-size      : 0;
        }
        .cycle-pager-active {
            background : @brand-primary;
        }
    }
    .pagerating-list {
        .inline-block-wrap();
        .pagerating-review {
            .rating {
                display : none;
            }
        }
        > .pagerating-review {
            .grid-elements(2; @grid-margin-width; true);
        }
    }
    &.block-reviews-center {
        .description {
            max-height    : 375px;
            padding-right : 2em;
        }
    }
}

.bottom-form {
    .block-reviews {
        padding : 0px;
        .pagerating-list {
            > .pagerating-review {
                width       : 100%;
                margin-left : 0;
                padding     : 20px;
                .pagerating-info {
                    .block {
                        width : 100%;
                    }
                }
            }
            .pagerating-review {
                padding : 10px 36px 10px 20px;
            }
        }
        .review-done {
            text-align    : center;
            margin-bottom : 30px;
            font-weight   : bold;
        }
        .labeled.block.fl-right {
            float : none !important;
        }
        .description {
            padding-right : 0;

        }
        .response-block-description {
            font-style : italic;
            font-size  : 18px;
            .response-block-info {
                font-weight : bold;
            }
            .response-comment {
                white-space : normal;
            }

        }
        .pagerating-review {

        }
    }
}

.pagerating-list {
    .pagerating-review {
        //margin : 0 20px 20px;
        //padding: 10px 36px 10px 20px;
        vertical-align : top;
        overflow       : hidden;
    }
    .description {
        font-style : italic;
        font-size  : 18px;
    }
    .name, .author {
        font-weight : bold;
        white-space : normal;
    }
    .published {
        display   : block;
        font-size : 0.7em;
    }
    .admin-actions {
        a[data-type="reply-comment"] {
            display : none;
        }
    }
    p[class*="helpful-"] {
        font-size      : 14px;
        font-weight    : bold;
        padding-bottom : 2.5em;
        span[class*="helpful-"] {
            display : inline-block;
        }
    }
    .pagerating-info {
        margin-bottom : 10px;
    }
}

.pagerating-list-left.cycle-slideshow {
    .cycle-pager {
        span {
            background : #888;
            &.cycle-pager-active {
                background : #fff;
            }
        }
    }
}

.mess-moderated, .review-done {
    font-size : 14px;
}

.mess-moderated {
    margin-top : 10px;
}

.teaser-img-services {
    text-align    : center;
    margin-bottom : 20px;
}

.block-review-form {
    display    : none;
    background : #fff;
    padding    : 20px;
    margin     : 40px 20px 20px;
    //.starrating {
    //	display : none;
    //}
}

.banner-image {
    padding         : 130px 0;
    background-size : cover;
    > img {
        display : none;
    }
    .left-block {
        padding : 20px 30px 60px 40px;
        border  : 2px solid #fff;
        .rgba(@brand-primary, 30%);
        color   : #fff;
    }
    h1 {
        color : #fff;
    }
    .small-title {
        font-style : italic;
    }
    .read {
        color           : #fff;
        text-decoration : none;
        text-transform  : uppercase;
    }
    .learn {
        position : absolute;
        bottom   : -24px;
        left     : 40px;
    }
    .list-main li {
        background    : #fff;
        color         : @brand-primary;
        padding       : 10px 28px;
        margin-bottom : 15px;
        display       : table;
        &::before {
            margin-right : 10px;
        }
    }
}

.block-button {
    text-align : right;
}

.block-reviews-list {
    margin-top    : 3em;
    overflow      : auto;
    max-height    : 30em;
    border-bottom : 1px solid #ededed;
    padding       : 0.3em;
    box-shadow    : 0 0 7px rgba(0, 0, 0, 0.4);
}

.reviews-header, .social-reviews {
    &:empty {
        display : none;
    }
}

.fb_facebook_review,
.fb_gmb_review {
    padding       : 0 0.5em;
    margin-bottom : 5px;
    .bottom-form & {
        font-size : 16px;
        width     : 100%;
    }
}

.vimeo {
    background-color : #000;
    margin-bottom    : 30px;
    position         : relative;
    padding-top      : 61%;
    overflow         : hidden;
    cursor           : pointer;
    width            : 100%;
    box-shadow       : 1px 1px 12px #00000082;

    iframe {
        height : 100%;
        width  : 100%;
        top    : 0;
        left   : 0;
    }

    img,
    .play-button {
        cursor : pointer;
    }

    img {
        width : 100%;
        top   : 50%;
        left  : 0;
        .translate(0, -50%);
    }

    .play-button {
        width            : 90px;
        height           : 60px;
        background-color : #333;
        box-shadow       : 0 0 30px rgba(0, 0, 0, 0.6);
        z-index          : 1;
        opacity          : 0.8;
        border-radius    : 6px;

        &::before {
            content      : "";
            border-style : solid;
            border-width : 15px 0 15px 26.0px;
            border-color : transparent transparent transparent #fff;
        }
    }
    .play-button,
    .play-button::before {
        top  : 50%;
        left : 50%;
        .translate3d(-50%, -50%, 0);
    }

    img,
    iframe,
    .play-button,
    .play-button::before {
        position : absolute;
    }
}
form p {
    margin-bottom : 15px;
}
//	Button to scroll top
//==================================================
#go-top {
    .button-color(#ffffff; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.webPage-go-top {
    .button-color(#fff; fade(#000, 50%); fade(#000, 50%); @primary-color; @primary-bg; @primary-bg);
}

