// Base styles
// --------------------------------------------------
.btn, button, [type="submit"], [type="button"], [type="reset"] {
    .button();

    &[disabled], &.disabled {
        border-color     : @gray-light !important;
        color            : @gray-light !important;
        background-color : @gray-lighter !important;
        & when (@ie) and (@ie8) {
            cursor : default !important;
        }
        cursor           : not-allowed !important;
        .box-shadow(~'none !important', @button-box-shadow);
    }
    &:hover {
        background: #000;
        color:#fff;
    }
}

.btn {
    &.social {
        line-height: 1.3em;
    }
    &.hide {
        &:extend(.hide);
    }


    &[class*="grid_"], [class*="column_"] > & {
        padding-left  : 0 !important;
        padding-right : 0 !important;
    }

    // Buttons style
    // --------------------------------------------------
    @import "button/buttons-style";

    // Alternate color buttons
    // --------------------------------------------------
    @import "button/buttons-color";

    // Block button
    // --------------------------------------------------
    @import "button/buttons-block";

    // Button with icon
    // --------------------------------------------------
    @import "button/buttons-icon";

    // Button link
    // --------------------------------------------------
    @import "button/buttons-link";

    // Button outline
    // --------------------------------------------------
    @import "button/buttons-outline";

    // Button caption
    // --------------------------------------------------
    @import "button/buttons-caption";
}
.white-button {
    border-color:#fff;
    color:#fff;
    &:hover {
        background: #fff;
        color:#000;
    }
}
.blue-button {
    background: @brand-primary;
    color:#fff;
    border-color: @brand-primary;
    &:hover {
        background: #fff;
        color:@brand-primary;
    }
}
// Button group
// --------------------------------------------------
@import "button/buttons-group";