// Table of Content
//==================================================
//	Links
//	Heading
//	Blockquotes
//  Toaster icon
//  Custom classes
//==================================================

// Links
//==================================================
a {
    color : @link-color;

    &:visited when not(@link-color-visited = none) {
        color : @link-color-visited;
    }

    &:hover {
        color : @link-color-hover
    }

    &:active {
        color : @link-color-active;
    }
}
// Heading
//==================================================
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top    : 1.5em;
    margin-bottom : 0.5em;
    color         : @heading-color;
    font-family   : @font-family-headings;
    & when not(@heading-weight = bold) and not (@heading-weight = 700) {
        font-weight   : @heading-weight;
    }
    
    &:first-child:not(.logo) {
        margin-top : 0;
    }

    & when (@componentsJS) and (@widget-rotator) {
        .slide .slide-description & {
            color : @slider-heading-color;
        }
    }

    & when not(@footer-heading-color = @heading-color) {
        footer & {
            color : @footer-heading-color;
        }
    }
    &:empty {
        display : none;
    }
    & when (@heading-color = #fff){
        #tinymce &{
            color:#000;
        }
    }
}
.h1, .h2, .h3, .h4, .h5, .h6{
    & when (@heading-weight = bold) or (@heading-weight = 700) {
        font-weight : @heading-weight;
    }
}
h1, .h1 {       font-size: 1.7em;
    font-weight: 800;
    color: #010101;
    text-transform: uppercase; }
h2, .h2 {
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1.2em;
    color: @brand-primary;
}

h3, .h3 { font-size : 1.25em; }
h4, .h4 { font-size : 1em; }
h5, .h5 { font-size : 0.875em; }
h6, .h6 { font-size : 0.75em; }

.subtitle {
    color     : @subheading-color;
    font-size : @font-size-mini;
}
p {
    margin-top    : 0;
    margin-bottom : 15px;
}
address {
    margin-bottom : 10px;
    font-style    : normal;
}
.subtitle {
    color: #CECECE;
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 40px;
}
ul.arrow {
    padding: 0;
    li {
        list-style: none;
        line-height: 1.8em;
        position: relative;
        padding-left: 55px;
        margin-bottom: 25px;
        &::before {
            content: "\e09c";
            padding: .15em .125em;
            line-height: 1;
            font-family: flexkit-icons;
            font-size: 1em;
            border: 2px solid @brand-primary;
            border-radius: 50%;
            color: #fff;
            background-color: @brand-primary;
            position: absolute;
            top: 2px;
            left: 0;
        }
    }
}
.big-padding {
    padding: 50px 0;
}